{% extends 'layout.html' %}

{% block title %} Collaborations {% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}collaborations-title{% endblock %}
{% block page_content %}

<header>
  <div style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/overview.png');
  background-repeat: repeat-x; background-size: contain; height: 200px;"></div>
  <h1 style="text-align: center; height: 100px;">Collaboration</h1>
</header>

<div class="page_content">
  <div class="row">

    <h3 style="text-align: center;">
      Even though collaborations are not part of the medal criteria we know how valuable it is to work with others and
      we didn’t want to let go of that part of the competition. One of our project values is unity and collaborations
      are one way of honoring it.
    </h3>

    <hr style="height: 100px; background-color: transparent;">

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="stickybar">
        <h3>Contents</h3>
        <br>
        <li><a href="#Team Edinburgh">Team Edinburgh</a></li>
        <br>
        <li><a href="#Aalto-Helsinki">Aalto-Helsinki</a></li>
        <br>
        <li><a href="#NiC">Nordic iGem Conference</a></li>
        <br>
        <li><a href="#WED">World Environment Day</a></li>
        <br>
        <li><a href="#Social media">Social media</a></li>
        <br>
      </ul>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">

      <div id="Team Edinburgh">
        <h1>Team Edinburgh - shared love of cyanobacteria</h1>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima rerum, illum cupiditate eius numquam
          odio
          fugit maiores aliquid facilis eveniet vitae quibusdam ex id molestiae excepturi molestias libero dolorum.
        </p>
        <br>
      </div>

      <div id="Aalto-Helsinki">
        <h1>Aalto-Helsinki - we Finns stick together</h1>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nesciunt sed sit. A, repellendus fugiat. Facilis
          aliquam nihil molestias ipsum, labore odio eum impedit at, reprehenderit dolore, fugit dignissimos asperiores?
        </p>
        <br>
      </div>

      <div id="NiC">
        <h1>Nordic iGEM Conference - the meet-up of this summer</h1>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eos delectus eaque dolores. Qui quos,
          officiis ipsam unde neque provident reiciendis ullam facilis sapiente saepe tempora sequi aperiam
          exercitationem!
        </p>
        <br>
      </div>

      <div id="WED">
        <h1>World Environment Day - celebration we organized</h1>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae officia at dolorum incidunt perferendis
          aperiam ea architecto ducimus corporis voluptatibus! Harum consequatur, perspiciatis hic amet molestiae quod
          iure cupiditate inventore.
        </p>
        <br>
      </div>

      <div id="Social media">
        <h1>Social media collaborations - way to keep teams united</h1>
        <br>
        <div class="accordion" id="Collaboration">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                World Health Day - Patras Medicine, 7th of April
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nihil! Facilis sint dolores minima ipsa
                  impedit soluta quaerat fugit harum illo quibusdam veniam repellat autem non, nesciunt magnam. Itaque,
                  quos.
                </p>
              </div>
            </div>
          </div>

          <hr style="height: 20px; background-color: transparent;">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Earth Day - iGEM Bulgaria, 22th of April
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic harum error repellendus labore corrupti!
                  Nulla cumque animi eligendi unde quae quibusdam voluptates alias iusto! Eligendi culpa dicta sunt
                  officia ratione.
                </p>
              </div>
            </div>
          </div>

          <hr style="height: 20px; background-color: transparent;">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                iGEM is… - iGEM Thrace, 2nd of May
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel earum reiciendis, eum enim quaerat saepe
                  perspiciatis esse quos doloribus quae iure quia necessitatibus ipsum a alias eos illum est tempora!
                </p>
              </div>
            </div>
          </div>

          <hr style="height: 20px; background-color: transparent;">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Yoga Day - iGEM IISER, 21th of June
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa dolor voluptates id dolore. Culpa
                  quaerat numquam sint neque minus laudantium veniam dolor labore vel ullam, voluptate nisi accusamus
                  minima ea.
                </p>
              </div>
            </div>
          </div>

          <hr style="height: 20px; background-color: transparent;">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                World Biodiversity Day - iGEM UniCRETE, 22nd of May
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo dolore at fugiat dolores sed alias autem
                  et omnis. Explicabo debitis necessitatibus laudantium eligendi tenetur est aliquid quis itaque
                  doloribus
                  neque.
                </p>
              </div>
            </div>
          </div>

          <hr style="height: 20px; background-color: transparent;">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Favorite plants - Aix-Marseille, DATE
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio voluptatem aut neque accusantium unde
                  consequuntur deserunt hic nobis, eveniet cum doloribus, maxime quibusdam veniam, necessitatibus
                  minima!
                  Et, voluptatem atque. Sed.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}