{% extends 'layout.html' %}

{% block title %} Collaborations {% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}collaborations-title{% endblock %}

{% block page_content %}

<div class="page_content col-12 col-md-10 mx-auto">
  <div class="row" style="text-align: justify;">

    <h3 style="text-align: center;">
      Even though collaborations are not part of the medal criteria we know how valuable it is to work with others and
      we did not want to let go of that part of the competition. One of our project values is unity and collaborations
      are one way of honoring it.
    </h3>

    <hr id="gap20">

    <h3 style="color: var(--green); text-align: center;">Note! - This page is still under construction.</h3>

    <hr id="gap100">

    <div class="col-12 col-md-10 col-lg-8 mx-auto" id="table-of-contents">
      <div class="accordion" id="Collaboration">
        <div class="accordion-item" id="table of contents">
          <h2 class="accordion-header" id="headingContents">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseContents" aria-expanded="false" aria-controls="collapseContents">
              Table of contents
            </button>
          </h2>
          <div id="collapseContents" class="accordion-collapse collapse" aria-labelledby="headingContents"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <div class="row no_mar_or_pad" id="content-links">
                <div class="col-12 col-md-6" style="border-left: 1px solid black;">
                  <li><a href="#Team Edinburgh" onclick="toggleAccordion()">Team Edinburgh</a></li>
                  <li><a href="#Aalto-Helsinki" onclick="toggleAccordion()">Aalto-Helsinki</a></li>
                  <li><a href="#NiC" onclick="toggleAccordion()">Nordic iGem Conference</a></li>
                  <li><a href="#WED" onclick="toggleAccordion()">World Environment Day</a></li>
                </div>
                <div class="col-12 col-md-6" style="border-left: 1px solid black;">
                  <li><a href="#Sekvenssi" onclick="toggleAccordion()">Sekvenssi</a></li>
                  <li><a href="#GU-Frankfurt" onclick="toggleAccordion()">GU-Frankfurt</a></li>
                  <li><a href="#Social media" onclick="toggleAccordion()">Social media</a></li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-bar" id="progress"></div>
      </div>
    </div>

    <hr id="gap100">

    <div id="Team Edinburgh">
      <h1 class="center_text section-title">Team Edinburgh - shared love of cyanobacteria</h1>
      <br>
      <p>
        Our project revolves around <span id="cursive">Synechocystis</span> because we are passionate about the little
        fellow and its wonderful
        ability to use light and carbon dioxide. When we saw a message from team Edinburgh we were glad that someone
        else had chosen this not so well-known model organism. To spread knowledge about photoautotrophic organisms,
        we wrote a report for the general public about cyanobacteria and biosafety. We advertised the report on our
        social media accounts and handed out printed versions in our events.
      </p>
      <br>
      <p>
        <a href="https://static.igem.wiki/teams/4831/wiki/documents/edinburgh-x-aboa-collab-leaflet.pdf">Here</a> is
        the final report as a PDF file:
      </p>
      <iframe src="https://static.igem.wiki/teams/4831/wiki/documents/edinburgh-x-aboa-collab-leaflet.pdf"
        title="Edinburgh x Aboa collab leaflet" style="width: 100%; height: 400px;">
      </iframe>
    </div>

    <hr id="gap50">

    <div id="Aalto-Helsinki">
      <h1 class="center_text section-title">Aalto-Helsinki - we Finns stick together</h1>
      <br>
      <h3 class="center_text subtitle">
        To keep the Finnish teams strong and united we worked with Aalto-Helsinki in multiple ways this year.
      </h3>
      <br>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
            We first met on the 9th of May on Zoom. We talked about our project topics, planned our possible
            collaborations and got to know each other. After some research and planning we decided to continue the
            tradition of organizing Heureka workshops together and having a joint talk in the Science Basement
            Afternoon
            Talks.
          </p>
        </div>
        <div class="col-12 col-md-6 no_mar_or_pad">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/1.png" width="100%">
          <figcaption style="text-align: justify;">
            <span id="cursive">
              Figure 1. Zoom meeting with Aalto-Helsinki to discuss collaborations
            </span>
          </figcaption>
        </div>
      </div>

      <hr id="gap20">

      <h3 class="center_text subtitle">
        Day in Turku - 24th of July
      </h3>
      <br>
      <div class="row no_mar_or_pad">
        <div class="col-12 col-md-6 no_mar_or_pad">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/2.png" width="100%">
          <figcaption style="text-align: justify;">
            <span id="cursive">
              Figure 2. Together with Aalto-Helsinki we visited University of Turku campus
            </span>
          </figcaption>
        </div>
        <div class="col-12 col-md-6">
          <p>
            We invited Aalto-Helsinki to visit us and see Turku on the 24th of July. We visited our lab facilities,
            walked together along the Aura river and spent a lovely summer day getting to know each other. (Figure 2.)
            Also it was wonderful to talk about our projects, the struggles we have faced and to share ideas on how to
            overcome those obstacles.
          </p>
        </div>
      </div>

      <hr id="gap20">

      <h3 class="center_text subtitle">
        Heureka - 2nd and 16th of September
      </h3>
      <br>
      <div class="row no_mar_or_pad">
        <div class="col-12 col-md-6">
          <p>
            We organized DNA, RNA & Protein education workshops on the 2nd of September and 16th of September. (Figure
            3.) Together we could teach the visitors about this power trio of molecular biology and also learn at the
            same time about science communication to different age visitors. You can read more about it on the
            <a href="https://2023.igem.wiki/aboa-turku/education">Education page</a>.
          </p>
        </div>
        <div class="col-12 col-md-6 no_mar_or_pad">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/3.png" width="100%">
          <figcaption style="text-align: justify;">
            <span id="cursive">
              Figure 3. Sara and Ida preparing the RNA models for the Heureka workshop
            </span>
          </figcaption>
        </div>
      </div>

      <hr id="gap50">

      <h3 class="center_text subtitle">
        Science Basement Afternoon Talks - 30th of September
      </h3>
      <br>
      <div class="row">
        <div class="col-12 col-md-6 no_mar_or_pad">
          <div class="image-w-caption" style="width: 100%;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/communication/the-science-basement.jpg"
              style="width: 100%;">
            <figcaption style="text-align: justify;">
              <span id="cursive">
                Figure 4. Ami, Ida and Sara in Science Basement.
              </span>
            </figcaption>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <p>
            Both of our projects are related to bioremediation and therefore we wanted to have a joint talk about it. We
            first introduced iGEM, our project and then went over what bioremediation is, what advantages and
            disadvantages it has and some current solutions which use bioremediation. To prepare for the talk we had a
            meeting with Aalto-Helsinki via Zoom to go over our presentation slides and in addition a training session
            for
            presenting hosted by The Science Basement.
          </p>
        </div>
      </div>
    </div>

    <hr id="gap50">

    <div id="NiC">
      <h1 class="section-title center_text">
        Nordic iGEM Conference - the meet-up of this summer
      </h1>
      <br>
      <div class="row no_mar_or_pad">
        <div class="col-12 col-md-6 no_mar_or_pad">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/4.png" width="100%">
          <figcaption style="text-align: justify;">
            <span id="cursive">
              Figure 5. Joakim holding the Golden Pipette trophy for winning this years Nordic iGEM Conference
            </span>
          </figcaption>
        </div>
        <div class="col-12 col-md-6">
          <p>
            Our team attended the Nordic iGEM Conference, NiC for short, and had the chance to deepen the unity of the
            Nordic and Baltic iGEM teams. This year’s NiC was hosted by the lovely iGEM SDU. We had inspirational
            events planned for the weekend: lectures about wiki writing and how to hold a presentation, a panel of
            iGEM alumni and even a Hackathon. On top of these we presented our projects and had time to get to know
            each other.
          </p>
          <br>
          <p>
            We won the conference and now the Golden Pipet (Figure 5.) and the honor to host next year has been passed
            onto us. We will gladly continue this tradition and hope that we can make the conference as wonderful as
            it was this year. Thank you iGEM SDU for organizing this and to every team that attended for making this
            weekend so memorable.
          </p>
        </div>
      </div>
    </div>

    <hr id="gap50">

    <div id="WED">
      <h1 class="section-title center_text">
        World Environment Day - celebration we organized
      </h1>
      <br>
      <div class="row no_mar_or_pad">
        <div class="col-12 col-md-6">
          <p>
            To contribute to the iGEM community and to celebrate World Environment Day on the 5th of June we organized
            a collaboration video to our social media account. We contacted several iGEM teams from all over the world
            to join us in this celebration. We sent instructions for the videos and edited them together.
          </p>
          <br>
          <p>
            Also we signed up for being an official event for the UN World Environment Day on their website. Our event
            was on a map on their website and we got an official event card. (Figure 6.)
          </p>
        </div>
        <div class="col-12 col-md-6 no_mar_or_pad">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/5.png" width="100%">
          <figcaption style="text-align: justify;">
            <span id="cursive">
              Figure 6. Official World Environment Day event card granted to us
            </span>
          </figcaption>
        </div>
      </div>
      <p>
        Thank you Aix-Marseille, UniCRETE, Thrace, MIT-MAHE, TU-Braunschweig and TU-Dresden for making this
        collaboration possible!
      </p>
    </div>

    <hr id="gap50">

    <div id="Sekvenssi">
      <h1 class="section-title center_text">
        Tampere Sekvenssi ry - helping with the first steps
      </h1>
      <br>
      <div class="row no_mar_or_pad">
        <div class="col-12">
          <p>
            We had a meeting with the newly built Sekvenssi ry association from the University of Tampere that aims to
            bring people together who are interested in synthetic biology. The association was interested in the iGEM
            competition so we introduced it to them, talked about the different requirements and about our team. We
            want to help them with their first steps regarding iGEM and possibly next year some of them could join our
            ABOA team. In the future when they have established a stable ground for themselves we want to be there to
            support their very own iGEM team building because we are excited to have another Finnish iGEM in the
            world.
          </p>
        </div>
      </div>
    </div>

    <hr id="gap50">

    <div id="GU-Frankfurt">
      <h1 class="section-title center_text">
        GU-Frankfurt - for safer waters
      </h1>
      <br>
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/6.png" width="100%">
          <figcaption>
            <span id="cursive">Figure 7. Zoom meeting with the GU-Frankfurt team to discuss our projects and
              wastewater
              treatment</span>
          </figcaption>
        </div>
        <div class="col-12 col-md-6">
          <p>
            We met with the GU-Frankfurt team on the 27th of September via Zoom. We discussed our projects and
            wastewater
            treatment. It was interesting to hear more about the antibiotic problem their project is regarding and how
            last-resort antibiotics are used for livestock. Regarding the wastewater treatment we discussed that new
            better solutions are needed and how bacteria can be part of those. It was wonderful to share thoughts and
            gain
            insight on iGEM experiences and new water treatment solutions.
          </p>
        </div>
      </div>
    </div>

    <div id="Social media">
      <h1 class="center_text subtitle">
        Social media collaborations - way to keep teams united
      </h1>
      <br>
      <h3 class="center_text subtitle">
        Click tabs below to see all social media collaborations!
      </h3>
      <hr id="gap50">
      <div class="accordion" id="Collaboration">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              World Health Day - Patras Medicine, 7th of April
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                The Patras-Med team approached us at the beginning of our iGEM journey. They had a great idea about
                doing a World Health Day collaboration. We of course wanted to participate and join the
                collaboration
                by choosing a from Joyce Meyer: “I believe that the greatest gift you can give your family and the
                world is healthy you”. (Figure 8.)
              </p>
              <br>
              <p>
                <a href="https://www.instagram.com/p/CquzLlLNPLF/?img_index=1">Here</a> is a link to their instagram
                post!
              </p>
              <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/col-1.png" width="100%">
              <figcaption style="text-align: justify;">
                <span id="cursive">
                  Figure 8. Sara, Ami and Tiia with the Joyce Meyer quote sign
                </span>
              </figcaption>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Earth Day - iGEM Bulgaria, 22th of April
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                “Stop littering the environment!”
                We agree and this is why we participated in the Earth Day collaboration that the Bulgaria team
                organized. We cleaned a sidewalk in front of our university spaces together as a team and encouraged
                others to do the same.
              </p>
              <br>
              <p>
                <a href="https://www.instagram.com/p/CrVCXfwNsHk/?img_index=1">Here</a> is a link to their instagram
                post!
              </p>
              <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/col-2.png" width="100%">
              <figcaption style="text-align: justify;">
                <span id="cursive">
                  Figure 9. Saana, Satu, Sara, Ida, Tiia and Ami holding up a sign that says “Stop littering the
                  environment”.
                </span>
              </figcaption>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              iGEM is… - iGEM Thrace, 2nd of May
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                “iGEM is exponential growth towards a better future.” - ABOA 2023
              </p>
              <br>
              <p>
                This is the message we wanted to spread in the collaboration organized by the Thrace team. Different
                teams across the world told what iGEM means to them and we are glad to be part of this wonderful
                collaboration.
              </p>
              <br>
              <p>
                You can go watch the collaboration video on iGEM Thrace's instagram
                <a href="https://www.instagram.com/p/CrwCjDIIglS/">here!</a>
              </p>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              World Biodiversity Day - UniCRETE, 22nd of May
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                To celebrate biodiversity, the UniCRETE team had a wonderful idea to showcase the national animals
                of
                different countries. Finland’s national animal is the brown bear and we wrote a short info text
                about
                it for the collaboration. Did you know that there are over 200 names for the brown bear in the
                Finnish
                language? And also a beer has been named after it!
              </p>
              <br>
              <p>
                <a href="https://www.instagram.com/p/Csjbr98NNH5/?img_index=1">Here</a> is a link to their instagram
                post!
              </p>
              <img src="https://static.igem.wiki/teams/4831/wiki/photos/collaboration/col-3.png" width="100%">
              <figcaption style="text-align: justify;">
                <span id="cursive">
                  Figure 10. Tiia, Sara, Satu, Ville and Ida acting like brown bears for the collaboration picture
                </span>
              </figcaption>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Yoga Day - iGEM IISER, 21th of June
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                The IISER-TVM team approached us with a Yoga Day collaboration idea and we wanted to be part of
                spreading the message about this powerful tool for well-being.
              </p>
              <br>
              <p>
                <a href="https://www.instagram.com/p/CvNcPpsxTN1/?img_index=1">Here</a> is a link to see the video
                on
                iGEM IISER's instagram!
              </p>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              JulyGEM - Calgary, 22nd of July
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                We participated in the JulyGEM, a virtual event to practice our presentation skills, that was
                organized by the Calgary team. We unfortunately couldn’t make it in the scheduled time but luckily
                were able to send a prerecorded video of our presentation. We got great feedback and new insights
                that
                helped us enhance our presentation and scientific communication. Thank you Calgary and every team
                that
                participated in this wonderful event.
              </p>
              <br>
              <p>
                You can see their instagram post
                <a href="https://www.instagram.com/p/CvNcPpsxTN1/?img_index=1">here</a>!
              </p>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Mascot Collab - INSA ENS Lyon 1, 14th of September
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#Collaboration">
            <div class="accordion-body">
              <p>
                Our little green mascot Synechocystis got some friends! We sent a picture of our mascot (Figure 11.)
                to
                the INSA ENS Lyon 1 team and they combined several team mascots into one cute Instagram post.
              </p>
              <br>
              <p>
                <a href="https://www.instagram.com/p/CxI25wMNa2N/?img_index=1">Here</a> is a link to their instagram
                post!
              </p>
              <br>
              <img src="https://static.igem.wiki/teams/4831/wiki/photos/characters/maskot-collab.png" width="100%">
              <figcaption style="text-align: justify;">
                <span id="cursive">
                  Figure 11. Our mascot Synechocystis made by Jesse
                </span>
              </figcaption>
            </div>
          </div>
        </div>

        <hr id="gap20">

        <!-- Not public yet -->
        <!--           
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Favorite plants - Aix-Marseille, DATE
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi blanditiis quia et odit fugit
                  porro tempore voluptas omnis nam, quis architecto illo est beatae, saepe aspernatur enim iure placeat.
                </p>
              </div>
            </div>
          </div>

          <hr id="gap20">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Day in the Life of an iGEMer - iGEM UniCRETE, DATE
              </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
              data-bs-parent="#Collaboration">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde enim nam minima alias
                  repudiandae omnis assumenda aspernatur cupiditate ea eos, similique deserunt, quos fugit expedita
                  commodi fugiat consequatur! Dicta?
                </p>
              </div>
            </div>
          </div> -->

      </div>
    </div>

  </div>
</div>
{% endblock %}