{% extends "layout.html" %}

{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{%
endblock %}

{% block title_class %}contribution-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/contribution.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<header>
  <div style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/overview.png');
  background-repeat: repeat-x; background-size: contain; height: 200px;"></div>
  <h1 style="text-align: center; height: 100px;">Contribution</h1>
</header>

<div class="container pt-5" style="text-align: justify;">
  <div class="row">
    <div>
      <h3 style="color: var(--green);">
        Our team has made contributions to the iGEM community in three following areas: Lab, Human practices and
        Fundraising
      </h3>
    </div>

    <hr style="height: 100px; background-color: transparent;">

    <div class="col-sm-12 col-md-3 col-lg-3">
      <ul class="stickybar">
        <h3>Contents</h3>
        <br>
        <li><a href="#Intro">Introduction</a></li>
        <br>
        <li><a href="#Lab">Lab</a></li>
        <br>
        <li><a href="#Human practices">Human practices</a></li>
        <br>
        <li><a href="#Fundraising">Fundraising</a></li>
        <br>
      </ul>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">

      <div id="Intro">
        <h3>Introduction</h3>
        <br>
        <p>
          On this page we have gathered all the contributions we’ve made for the iGEM community. This journey has its
          ups and downs. And those ups and downs have been the most instructive moments during this experience. They
          have
          taught us a lot and we feel that by contributing those moments we can help future teams navigate through their
          project a little easier. Since the project isn’t only about the lab we wanted to make sure to add
          contributions
          from other sub teams as well.
        </p>
      </div>

      <hr style="height: 50px; background-color: transparent;">

      <div class="accordion" id="Contribution">

        <div class="accordion-item" id="Lab">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Lab
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#Contribution">
            <div class="accordion-body">
              <h3>Parts</h3>
              <p>
                Texts under construction.
              </p>
              <br>
              <h3>Contribution to existing parts</h3>
              <p>
                Texts under construction.
              </p>
              <br>
              <h3>Measurement</h3>
              <p>
                Texts under construction.
              </p>
            </div>
          </div>
        </div>

        <hr style="height: 50px; background-color: transparent;">

        <div class="accordion-item" id="Human practices">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Human practices
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#Contribution">
            <div class="accordion-body">
              <h3>Expanding iGEM community</h3>
              <h4>Turku iGEM community</h4>
              <p>
                Team ABOA 2023 managed to do something new. It united students and different universities in Turku.
                Starting off with mostly bio-students we soon realized there should be more diversity in know-how. New
                team members were added to the team and so the complete ABOA 2023 team was finally formed. This year’s
                team was not only formed by students from the University of Turku but also students from Åbo Akademi and
                Turku University of applied sciences (UAS). Because diversity and unity are two of our team values, we
                want to continue the unity between the universities also in the future and will reach out to new
                faculties when possible. We will assist the new team ABOA 2024 to a great start when passing on the
                baton and helping them in every possible way.
              </p>
              <br>
              <h4>Finnish iGEM community</h4>
              <p>
                Being a young team we did not yet have a wide network to support us. We have reached out to different
                companies, the press, institutions and different communities thereby making iGEM better known to the
                wider public in Finland.
              </p>
              <br>
              <p>
                Our team has also been working closely with the other Finnish team Aalto-Helsinki. We hope to maintain a
                good relationship between the Finnish teams and encourage other universities across Finland to establish
                their own iGEM teams. We have been discussing with Sekvenssi ry, the Club of Synthetic Biology, board of
                having their members from Tampere join team ABOA next year. This will spread the iGEM community to
                Tampere and the start of a possible new team in Finland.

              </p>
              <br>
              <h4>Nordic iGEM community</h4>
              <p>
                Thus far there are only two iGEM teams in Finland. For this reason maintaining a good relationship with
                the wider Nordic iGEM community is important because of the joined support and unity. By winning this
                year’s Nordic iGEM Conference (NiC) we got the great honor to host NiC 2024 and pass on the “golden
                pipette” to the next year’s winner.
              </p>
            </div>
          </div>
        </div>

        <hr style="height: 50px; background-color: transparent;">

        <div class="accordion-item" id="Human practices">
          <h2 class="accordion-header" id="headingTree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Education
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#Contribution">
            <div class="accordion-body">
              <p>
                As said on our <a href="https://2023.igem.wiki/aboa-turku/education">education page</a>, education is a
                lifelong journey that does not end at graduation. We took
                all age groups into consideration when working on our project’s educational section. It took a lot of
                time, work and planning to come up with materials suitable for each particular age group. By sharing our
                educational materials we hope future teams will make good use of them and all age groups could be
                included in synthetic biology in the future as well. All materials are collected in the following PDF
                file.
              </p>
              <br>
              <p>Materials under construction!</p>
            </div>
          </div>
        </div>

        <hr style="height: 50px; background-color: transparent;">

        <div class="accordion-item" id="Fundraising">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Fundraising
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#Contribution">
            <div class="accordion-body">
              <p>
                ABOA is a fairly new team in the iGEM community. This comes with its own challenges, one being finances.
                Companies have been hesitant to sponsor our team’s iGEM journey as it is new and not widely known. In
                addition to contacting companies we came up with new innovative ways of raising money: crowdfunding and
                workshops.
              </p>
              <br>
              <h3>Crowdfunding</h3>
              <p>
                We set up our crowdfunding through Kulttuurilahja platform. Being accepted to Kulttuurilahja required us
                to write an overview of our project, marketing strategy and advertisement pictures. Kansan
                Sivistysrahasto supported the project by donating an additional 20 % to all donations made. Crowdfunding
                is a good way to raise money but in order to be successful it requires a good marketing plan to gain
                visibility. During the summer holidays it is harder to raise funds and that is why visibility and timing
                are key elements in succession.
              </p>
              <br>
              <h3>Workshops</h3>
              <p>
                In addition to crowdfunding we got funds from a synthetic biology workshop that was held by our team in
                order to raise money and awareness of synthetic biology. A lot of time and planning is required to
                organize these workshops. Our workshop was aimed at the working population with an interest in lab work
                and synthetic biology. A suitable space for the workshop needed to be arranged as well as all the
                materials and simple yet interesting lab work. In order to succeed, the marketing needed to be directed
                at the working population who are willing to pay for this experience.
              </p>
              <br>
              <h3>Marketing</h3>
              <p>Text under construction.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr style="height: 50px; background-color: transparent;">

</div>

{% endblock %}