{% extends "layout.html" %}

{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{%
endblock %}

{% block title_class %}contribution-title{% endblock %}

{% block page_content %}

<div class="container pt-5" style="text-align: justify;">
  <div class="row">
    <div class="col">
      <h3>On this page we have gathered all the contributions we’ve made for the iGEM community. This journey has its
        ups and downs. And those ups and downs have been the most instructive moments during this experience. They have
        taught us a lot and we feel that by contributing those moments we can help future teams navigate through their
        project a little easier. Since the project isn’t only about the lab we wanted to make sure to add contributions
        from other sub teams as well.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Lab</h1>
      <br>
      <p style="text-align: center;">Text is under construction.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Parts</h1>
      <br>
      <p style="text-align: center;">Text is under construction.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Contribution to existing parts</h1>
      <br>
      <p style="text-align: center;">Text is under construction.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">The Swamp of Molecular Biology</h1>
      <br>
      <p>
        Our journey with our genes was a rocky one. We decided to go with the blunt ended genes when ordering. There
        shouldn’t be any reason why they wouldn’t work perfectly fine. Well the assembly failed even after concentrating
        the genes. So plan B was taken into action and we ordered primers, amplified the genes and added new restriction
        sites. That failed as well. There was the possibility of blunt ended cloning as well but we decided to go with
        ordering new genes in plasmids. Every possibility comes with its pros and cons but it’s easy to get lost in the
        swamp of molecular biology. Our journey cost us time and money but was a good lesson of molecular biology and
        the DBTL cycle. Hopefully this helps future teams when facing similar problems!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Measurement</h1>
      <br>
      <p style="text-align: center;">Text is under construction.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">Human practices</h1>
      <br>
      <p>
        As said on our education page, education is a lifelong journey that doesn't end at graduation. We took all age
        groups into consideration when working on our project’s education. It took a lot of time, work and planning to
        come up with materials suitable for each particular age group. By giving our materials we hope future teams will
        make good use of them and all age groups could be included in synthetic biology in the future as well. All
        materials are collected on the following PDF file.
      </p>
      <br>
      <p>Materials under construction!</p>
    </div>
  </div>

</div>

{% endblock %}