{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}
{% block title_class %}description-title{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-lg-2">
    <ul class="stickybar">
      <li><a href="#problem">Problem</a></li>
      <br>
      <li><a href="#background and inspiration">Background and inspiration</a></li>
      <br>
      <li><a href="#solution">Our solution</a></li>
      <br>
      <li><a href="#references">References</a></li>
    </ul>
  </div>


  <div class="col-lg-10">

    <h1 id="problem">Problem</h1>
    <p>This year our ABOA team’s project is about cleaning heavy metals, especially mercury, out of contaminated
      waters.
      Mercury is hazardous for the environment and individual organisms in multiple ways. The toxicity of mercury is
      caused by its high affinity for sulfhydryl groups, which can bind to proteins and disrupt their functions
      (Christakis et al., 2021). In ecosystems, mercury accumulates in large carnivores such as large predator
      fishes
      and
      mammals. In these animals it distracts normal development of the fetus and young individuals, decreases
      fertility
      and causes nervous disorders (U.S. Environmental Protection Agency, 2022). Many of these larger animals are
      used
      as
      food for humans which means that the mercury enriches in us causing these same issues. These problems in
      animals
      endangers the balance of ecosystems and harms biodiversity.
    </p>
    <br>
    <p>The origin of the mercury is most often fossil fuels or other mercury containing material that is burned
      (U.S.
      Environmental Protection Agency, 2023). The mercury then gets into the atmosphere and precipitates down with
      rain
      to
      our bodies of water. The bodies of water with high concentrations of biomass, especially marshlands, get
      accumulated
      with mercury. These aged marshlands may contain decades worth of mercury. As they are ditched for agriculture
      or
      forestry, the sulfates react with the oxygen in the atmosphere and produce acids that dissolve metals. Hence
      the
      metals that have been stored in the biomass for years spread into the environment with the runoff water.
    </p>

    <br>

    <h1 id="background and inspiration">Background and inspiration</h1>
    <p>
      In the beginning of this project our team got inspired by our native marshlands. Indeed our country is named
      after
      its many fens: fen + land = Finland, which also holds true in the Finnish language: suo + maa = Suomi. After
      some
      research on the topic we came to realize our idea could be utilized in promoting the wellbeing of our beloved
      Baltic
      Sea as well as purifying the waters of drained marshlands and all other mercury contaminated waters in Finland
      and
      the rest of the world to restore them.
    </p>
    <p>The Finnish marshlands have been long used for commercial forestry and agriculture and hence have been
      drained.
      As
      marshlands develop during long periods of time, they get enriched by many toxic compounds such as heavy
      metals. As
      these swamps are ditched and drained, the toxic waters spread to the nature and contaminate it.
    </p>
    <br>
    <p>
      The Baltic Sea has been in a horrible condition for decades although many actions have been made in order to
      make
      it
      a safer habitat for flora, fauna and inhabitants of its coasts. Yet our solution could be the one that makes a
      sustainable impact in her health.
    </p>
    <br>
    <p>
      All in all our project has a versatile impact on the wellbeing of nature. Developing a sustainable and
      scalable
      solution for the remediation of the state of our national bodies of water will be all the more important as
      fresh
      water becomes a more scarce resource globally. There are also rising threats to food security therefore it’s
      important to ensure we can use fish and other sources of food safely and sustainably.
    </p>
    <br>
    <p>
      Also, by improving the state of these bodies of water and protecting these ecosystems maintains our
      biodiversity
      by
      providing healthy habitats for species and decreasing fertility and development issues.
    </p>
    <br>
    <p>
      In addition, industries that handle heavy metals could benefit from our solution. There are for example
      artisanal
      mines in which the people and the environment come into contact with heavy metals. The waters used in these
      mines
      or
      some factories that produce heavy metal contaminated sewage could purify the water with a on-site purification
      system.
    </p>

    <br>

    <h1 id="solution">Our solution</h1>
    <p>
      Our project aims to use cyanobacteria to bioremediate mercury-contaminated waters. To achieve that, our team
      will
      enhance the ability of cyanobacteria to transform toxic organic mercury into less harmful elemental mercury.
      This
      conversion is significant as compared to other organomercurials, elemental mercury is less hazardous to
      organisms
      and the environment (Dash & Das, 2012).
    </p>
    <br>
    <p>
      To reach our goal our team will genetically modify cyanobacteria, specifically Synechocystis sp. PCC6803, by
      overexpressing a merA- and incorporating a merB -gene to its genome. Together, MerA and MerB work
      synergistically
      to
      enhance the bioremediation of mercury. MerA reduces inorganic mercuric ions to elemental mercury, while MerB
      aids
      in
      the degradation of organic mercury compounds. Detoxifying methylmercury begins when merB-gene codes for a
      protein
      called alkylmercury lyase whose function is to cleave bonds between a mercury atom and a carbon atom in
      organic
      mercury compounds. The mercuric reductase enzyme, coded by the merA-gene, reduces mercury ions into elemental
      mercury. The elemental mercury can then be transported out of the cell (Christakis et al., 2021).
    </p>
    <br>
    <p>
      Synechocystis PCC6803 has naturally a merA-gene. By transforming the cyanobacteria with a merB-gene and
      overexpressing the merA-gene we try to develop the modified Synechocystis into an effective tool in
      bioremediation
      of mercury. To create the construct, we are going to use One-pot Golden Gate system, where multiple
      DNA-fragments
      can be assembled together in a single reaction. The system utilizes BbsI enzyme which generates compatible DNA
      overhangs that can be ligated into a plasmid. First we will transform the created inserts into E. coli and
      after
      that into Synechocystis. After transforming the Synechocystis we will study the function and the
      mercury-modifying
      ability of the created construct.
    </p>
    <br>
    <p>
      The current solutions for removing mercury from the environment have disadvantages such as high energy
      consumption
      and for that reason we are working on a solution that utilizes the tools of synthetic biology. Synthetic
      biology
      has
      been used for mercury remediation before but our novelty is to use Synechocystis: an organism that is capable
      of
      photosynthesis. Our solution would be sustainable and scalable as it utilizes phototrophic cyanobacteria,
      which
      both
      is a carbon sink and uses free sunlight as energy. The system would be cheap to use especially in areas with a
      stable source of light and heat like the Equator or regulated spaces. As our organism would not be freed to
      the
      environment and the reactions would be done in a tank, it is possible to use the system in various areas and
      produce
      clean and safe water for all.
    </p>

    <br>

    <h1 id="references">References and sources</h1>
    <p>U.S. Environmental Protection Agency. (n.d.). Basic Information about Mercury. Retrieved June 12, 2023 from
      <a
        href="https://www.epa.gov/mercury/basic-information-about-mercury">https://www.epa.gov/mercury/basic-information-about-mercury</a>
    </p>
    <br>
    <p>U.S. Environmental Protection Agency. (n.d.). Mercury Emissions in a Global Context. Retrieved June 12, 2023
      from
      <a
        href="https://www.epa.gov/international-cooperation/mercury-emissions-global-context">https://www.epa.gov/international-cooperation/mercury-emissions-global-context</a>
    </p>
    <br>
    <p>
      Christakis C., Barkay T. & Boyd E. (2021). Expanded Diversity and Phylogeny of mer Genes Broadens Mercury
      Resistance
      Paradigms and Reveals an Origin for MerA Among Thermophilic Archaea. Frontiers in Microbiology, 12.
      <a href="https://doi.org/10.3389/fmicb.2021.682605"></a>https://doi.org/10.3389/fmicb.2021.682605
    </p>
    <br>
    <p>
      Cornell 2014 iGEM team. Retrieved June 12, 2022 from <a
        href="https://2014.igem.org/Team:Cornell">https://2014.igem.org/Team:Cornell</a>
    </p>
    <br>
    <p>
      Dash H. & Das S. (2012). Bioremediation of mercury and the importance of bacterial mer genes. International
      Biodeterioration & Biodegradation, 75, 207-213. <a
        href="https://doi.org/10.1016/j.ibiod.2012.07.023">https://doi.org/10.1016/j.ibiod.2012.07.023</a>
    </p>
    <br>
    <p>
      United Nations Environment Programme. (2013, January 19). World Unites Against Mercury Pollution [Press
      release].
      Retrieved from June 12, 2023
      <a
        href="https://www.unep.org/news-and-stories/press-release/world-unites-against-mercury-pollution">https://www.unep.org/news-and-stories/press-release/world-unites-against-mercury-pollution</a>
    </p>
    <br>
    <p>
      Terveyden ja hyvinvoinnin laitos. (n.d.). Elohopea. Retrieved June 12, 2023 from
      <a
        href="https://thl.fi/fi/web/ymparistoterveys/ymparistomyrkyt/elohopea">https://thl.fi/fi/web/ymparistoterveys/ymparistomyrkyt/elohopea</a>
    </p>
    <br>
    <p>
      M. Saleh, H., & I. Hassan, A. (Eds.). (2022). Environmental Impact and Remediation of Heavy Metals.
      IntechOpen.
      doi:
      10.5772/intechopen.97895
    </p>

  </div>
</div>

{% endblock %}