<!-- https://stackoverflow.com/questions/54471202/how-to-display-a-definition-on-hover-over-a-word-that-is-in-a-sentence -->

{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}
{% block title_class %}description-title{% endblock %}

{% block page_content %}
<div class="page_content">

  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto" style="text-align: center">
      <img src="https://static.igem.wiki/teams/4831/wiki/logos/merculess-logo-white.png" style="width: 300px;">
      <hr id="gap100">
      <h3>
        MercuLess - a cyanobacteria-based bioremediation tool for purifying mercury-contaminated waters
      </h3>
      <hr id="gap100">
    </div>

    <div class="col-12 col-md-10 col-lg-8 mx-auto" id="table-of-contents">
      <div class="accordion" id="Description">
        <div class="accordion-item" id="table of contents">
          <h2 class="accordion-header" id="headingContents">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseContents" aria-expanded="false" aria-controls="collapseContents">
              Table of contents
            </button>
          </h2>
          <div id="collapseContents" class="accordion-collapse collapse" aria-labelledby="headingContents"
            data-bs-parent="#Description">
            <div class="accordion-body">
              <div class="row no_mar_or_pad" id="content-links">
                <div class="col-12 col-md-6" style="border-left: 1px solid black;">
                  <li><a href="#summary" onclick="toggleAccordion()">SUMMARY</a></li>
                  <li><a href="#problem" onclick="toggleAccordion()">Problem</a></li>
                  <li><a href="#background and inspiration" onclick="toggleAccordion()">Background and inspiration</a>
                  </li>
                  <li><a href="#solution" onclick="toggleAccordion()">Our solution</a></li>
                  <li><a href="#references" onclick="toggleAccordion()">References</a></li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-bar" id="progress"></div>
      </div>
    </div>

    <hr id="gap100">

    <div class="col-12 col-md-10 col-lg-8 mx-auto" style="text-align: justify;">
      <div class="row" id="summary">
        <h1 class="center_text section-title">Summary</h1>

        <div class="image-w-caption" style="width: 100%;">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/overview/overview-img-1.png" style="width: 100%;">
          <figcaption style="text-align: justify;">
            <span id="cursive">Figure 1. Visual overview of the project. Methylmercury (MeHg) accumulates in bodies of
              water and causes
              damage
              to
              the environment and organisms. By using modified cyanobacteria (Synechocystis sp. PCC6803), our team aims
              in
              developing a water purification system to help mercury contaminated ecosystems. The cyanobacteria is
              modified
              by
              adding two genes, <span id="non-cursive">merA</span> and <span id="non-cursive">merB</span>, that can
              convert extremely toxic methylmercury into elemental mercury (Hg)
              which
              is much less harmful to organisms. Figure has been created with BioRender.
            </span>
          </figcaption>
          <hr id="gap20">
        </div>
        <br>
        <p>
          Our project, MercuLess, is about utilizing cyanobacteria to bioremediate mercury-contaminated waters (Figure
          1). Using the tools of synthetic biology, our team will enhance the ability of cyanobacteria <span
            id="cursive">Synechocystis</span> sp.
          PCC6803 to transform methylmercury into elemental mercury which is then gathered up. In the lab, our team
          modifies cyanobacteria to express <span id="cursive">merA</span> and <span id="cursive">merB</span> genes that
          code for proteins called mercuric reductase and
          organomercury lyase, respectively (Figure 2). Together, these proteins can decrease the toxicity of
          methylmercury by first cleaving the bond between the mercury atom and the carbon atom in a methylmercury
          molecule and then reducing the released mercury ion into elemental mercury. To create the gene construct
          containing <span id="cursive">merA</span> and <span id="cursive">merB</span> we use a method called One-pot
          Golden Gate, where multiple DNA-fragments can be
          assembled together in a single reaction and the construct can be optimized. The produced functional plasmids
          are then transformed into <span id="cursive">Synechocystis</span> whose function and mercury modifying ability
          we will study more in the
          lab.
        </p>
        <hr id="gap20">
        <div class="image-w-caption" style="width: 100%;">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/overview/overview-img-2.png" style="width: 100%;">
          <figcaption style="text-align: justify;">
            <span id="cursive">Figure 2. Cartoon visualization of the modification of methylmercury to elemental mercury
              by using the
              proteins coded by the genes <span id="non-cursive">merA</span> and <span
                id="non-cursive">merB</span>.</span>
          </figcaption>
        </div>
        <hr id="gap20">
        <p>
          To implement our bioremediating cyanobacteria, our idea is to build an on-site photobioreactor in which the
          modified cyanobacteria purify natural waters contaminated with toxic methylmercury (Figure 3). Since
          cyanobacteria are autotrophic they can utilize light as their energy source and carbon dioxide as their carbon
          source making them a sustainable and scalable solution. Hence the bioreactor is transparent to let light
          through and includes air inputs to provide <span id="cursive">Synechocystis</span> carbon dioxide. The
          external energy needed for our
          system is provided by solar panels, ideally team Edinburgh's cyanobacteria powered solar panels, making our
          system 100 % cyanobacteria powered. To secure the biosafety of our photobioreactor, the reactor contains
          filters to ensure that no modified cyanobacteria are released to the environment and the purified water is
          clean and safe for us and the environment.
        </p>
        <hr id="gap20">
        <div class="image-w-caption" style="width: 100%;">
          <img src="https://static.igem.wiki/teams/4831/wiki/photos/description/figure3.png" style="width: 100%;">
          <figcaption style="text-align: justify;">
            <span id="cursive">Figure 3. Visualization of the implementation of MercuLess: a mobile bioreactor. The
              purification container
              is transported on-site with a truck. The container will be open during the day to let sunlight in. The
              water
              from the contaminated water will go through the bioreactor containing the bioremediating cyanobacteria and
              the purified water returns back to the environment with pumps. You can read more about the implementation
              <a href="https://2023.igem.wiki/aboa-turku/implementation">here</a>.</span>
          </figcaption>
        </div>
      </div>

      <hr id="gap50">

      <div class="row" id="problem">
        <h1 class="center_text section-title">The problem of methylmercury</h1>
        <p>
          This year our ABOA team’s project is about cleaning methylmercury out of contaminated waters. Methylmercury is
          hazardous for the environment and individual organisms in multiple ways. The toxicity of methylmercury is
          caused by its high affinity for sulfhydryl groups. The sulfhydryl-methylmercury compound can bind into
          proteins, disrupting their functions (Christakis et al., 2021). In ecosystems, methylmercury accumulates in
          large carnivores such as large predator fish and mammals. The methylmercury distracts the normal development
          of the fetus and young individuals, decreases fertility and causes nervous disorders (U.S. Environmental
          Protection Agency, 2022). Many of these larger animals such as seals and large predator fish are used as food
          for humans resulting that the methylmercury enriches also in us causing these same issues. These problems
          endanger the balance of ecosystems and harm biodiversity.
        </p>
        <br>
        <p>
          The origin of the mercury is most often fossil fuels or other mercury containing material that is burned (U.S.
          Environmental Protection Agency, 2023). The vaporized mercury then gets into the atmosphere and precipitates
          down with rain into bodies of water. In bodies of water microbes methylate the mercury into methylmercury.
        </p>
        <br>
        <p>
          In the bodies of water with high concentrations of biomass, especially marshlands, the biomass accumulates the
          hydrophobic methylmercury efficiently. These aged fenlands may contain decades worth of methylmercury. As they
          are ditched for agriculture or forestry, the sulfates in the soil react with the oxygen in the atmosphere and
          produce acids that dissolve the accumulated mercury. Hence the mercury that has been stored in the biomass for
          years, spreads into the environment with the runoff water.
        </p>
      </div>

      <hr id="gap50">

      <div class="row" id="background and inspiration">
        <h1 class="center_text section-title">Background and inspiration</h1>
        <p>
          In the beginning of this project our team got inspired by our native marshlands and lakes. Indeed our country
          is named after its many fens: fen + land = Finland, which also holds true in the Finnish language: suo + maa =
          Suomi. After some research on the topic we came to realize our idea could be utilized in promoting the
          wellbeing of our beloved Baltic Sea as well as purifying the waters of drained marshlands and mercury
          contaminated lakes in Finland and the rest of the world to restore them.
        </p>
        <br>
        <p>
          The Finnish marshlands have been long used for commercial forestry and agriculture and hence have been
          drained. As the drained waters flow downstream, the methylmercury released from the depths of the marshlands
          ends up in one of the many isolated small lakes there are in Finland harming its ecosystem.
        </p>
        <br>
        <p>
          The Baltic Sea has been in a horrible condition for decades although many actions have been made in order to
          make it a safer habitat for flora, fauna and inhabitants of its coasts. Yet, our solution could be the one
          that makes a sustainable impact in her health.
        </p>
        <br>
        <p>
          All in all our project has a versatile impact on the wellbeing of nature. Developing a sustainable and
          scalable solution for the remediation of the state of our national bodies of water will be all the more
          important as fresh water becomes a more scarce resource globally. There are also rising threats to food
          security therefore it’s important to ensure we can use fish and other sources of food safely and sustainably.
          Also, by improving the state of these bodies of water and protecting these ecosystems we can maintain
          biodiversity by providing safe habitats for species and decreasing fertility and development issues.
        </p>
        <br>
        <p>
          In addition, industries that handle heavy metals could benefit from our solution. There are for example
          artisanal mines in which the people and the environment come into contact with heavy metals. The waters used
          in these mines or some factories that produce heavy metal contaminated sewage could purify the water with a
          on-site purification system.
        </p>
      </div>

      <hr id="gap50">

      <div class="row" id="solution">
        <h1 class="center_text section-title">Our solution to bioremediate methylmercury-contaminated waters
        </h1>
        <p>
          Our project aims to use cyanobacteria to bioremediate mercury-contaminated waters. To achieve that, our team
          will enhance the ability of cyanobacteria to transform toxic organic mercury into less harmful elemental
          mercury as it is less hazardous to organisms and the environment. This conversion is significant as compared
          to the conversion of other organomercurials into elemental mercury (Dash & Das, 2012).
        </p>
        <br>
        <p>
          To reach our goal our team will genetically modify cyanobacteria, specifically <span
            id="cursive">Synechocystis</span> sp. PCC6803, by
          overexpressing a <span id="cursive">merA-</span> and incorporating a <span id="cursive">merB</span> -gene into
          its genetic material with self-replicating
          plasmids. Together, MerA and MerB work synergistically to enhance the bioremediation of mercury. MerA reduces
          inorganic mercuric ions to elemental mercury, while MerB aids in the degradation of organic mercury compounds.
          Detoxifying methylmercury begins when merB-gene codes for a protein called alkylmercury lyase whose function
          is to cleave bonds between a mercury atom and a carbon atom in organic mercury compounds. The mercuric
          reductase enzyme, coded by the merA-gene, reduces mercury ions into elemental mercury. The elemental mercury
          can then be transported out of the cell with diffusion (Christakis et al., 2021).
        </p>
        <br>
        <p>
          <span id="cursive">Synechocystis</span> PCC6803 has naturally a merA-gene. By transforming the cyanobacteria
          with a merB-gene and
          overexpressing the merA-gene we try to develop the modified <span id="cursive">Synechocystis</span> into an
          effective tool in
          bioremediation of mercury. To create the construct, we are going to use the One-pot Golden Gate system, where
          multiple DNA-fragments can be assembled together in a single reaction. The system utilizes BbsI enzyme which
          generates compatible DNA overhangs that can be ligated into a plasmid. First we will transform the created
          inserts into <span id="cursive">E. coli</span> and after that into <span id="cursive">Synechocystis</span>.
          After transforming the
          <span id="cursive">Synechocystis</span>, we will study
          the acclimation capacity to mercury induced stress and the mercury-modifying and removing abilities of the
          modified strains.
        </p>
        <br>
        <p>
          The current solutions for removing mercury from the environment have disadvantages such as high energy
          consumption and for that reason we are working on a solution that utilizes the tools of synthetic biology.
          Synthetic biology has been used for mercury remediation before but our novelty is to use <span
            id="cursive">Synechocystis</span>: an
          organism that is capable of photosynthesis. Our solution would be sustainable and scalable as it utilizes
          phototrophic cyanobacteria, which both is a carbon sink and uses free sunlight as energy. The system would be
          cheap to use especially in areas with a stable source of light and heat like the Equator or regulated spaces.
          Our primary natural targets, the marshlands, small lakes and the Baltic Sea are all isolated bodies of water
          and the parameters can be set easily. As our organism would not be freed to the environment and the reactions
          would be done in a closed system, it is possible to use our bioremediating cyanobacteria in various areas and
          produce clean and safe water for all.
        </p>
        <br>
        <p>
          To read about the implementation of our solution in more detail, see our <a
            href="https://2023.igem.wiki/aboa-turku/implementation">Implementation page</a>.
        </p>
      </div>

      <hr id="gap50">

      <div class="row" id="references">
        <div class="accordion" id="Description">
          <div class="accordion-item" id="References">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                References and sources
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#Description">
              <div class="accordion-body">
                <p>U.S. Environmental Protection Agency. (n.d.). Basic Information about Mercury. Retrieved June 12,
                  2023
                  from
                  <a
                    href="https://www.epa.gov/mercury/basic-information-about-mercury">https://www.epa.gov/mercury/basic-information-about-mercury</a>
                </p>
                <br>
                <p>U.S. Environmental Protection Agency. (n.d.). Mercury Emissions in a Global Context. Retrieved June
                  12,
                  2023
                  from
                  <a
                    href="https://www.epa.gov/international-cooperation/mercury-emissions-global-context">https://www.epa.gov/international-cooperation/mercury-emissions-global-context</a>
                </p>
                <br>
                <p>
                  Christakis C., Barkay T. & Boyd E. (2021). Expanded Diversity and Phylogeny of mer Genes Broadens
                  Mercury
                  Resistance
                  Paradigms and Reveals an Origin for MerA Among Thermophilic Archaea. Frontiers in Microbiology, 12.
                  <a href="https://doi.org/10.3389/fmicb.2021.682605"></a>https://doi.org/10.3389/fmicb.2021.682605
                </p>
                <br>
                <p>
                  Cornell 2014 iGEM team. Retrieved June 12, 2022 from <a
                    href="https://2014.igem.org/Team:Cornell">https://2014.igem.org/Team:Cornell</a>
                </p>
                <br>
                <p>
                  Dash H. & Das S. (2012). Bioremediation of mercury and the importance of bacterial mer genes.
                  International
                  Biodeterioration & Biodegradation, 75, 207-213. <a
                    href="https://doi.org/10.1016/j.ibiod.2012.07.023">https://doi.org/10.1016/j.ibiod.2012.07.023</a>
                </p>
                <br>
                <p>
                  United Nations Environment Programme. (2013, January 19). World Unites Against Mercury Pollution
                  [Press
                  release].
                  Retrieved from June 12, 2023
                  <a
                    href="https://www.unep.org/news-and-stories/press-release/world-unites-against-mercury-pollution">https://www.unep.org/news-and-stories/press-release/world-unites-against-mercury-pollution</a>
                </p>
                <br>
                <p>
                  Terveyden ja hyvinvoinnin laitos. (n.d.). Elohopea. Retrieved June 12, 2023 from
                  <a
                    href="https://thl.fi/fi/web/ymparistoterveys/ymparistomyrkyt/elohopea">https://thl.fi/fi/web/ymparistoterveys/ymparistomyrkyt/elohopea</a>
                </p>
                <br>
                <p>
                  M. Saleh, H., & I. Hassan, A. (Eds.). (2022). Environmental Impact and Remediation of Heavy Metals.
                  IntechOpen.
                  doi:
                  10.5772/intechopen.97895
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}