{% extends "layout.html" %}

{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue
with new communities by discussing public values and the science behind synthetic biology.{% endblock %}
{% block title_class %}education-title{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <img
      src="https://static.igem.wiki/teams/4831/wiki/photos/under-construction.png"
      alt="Construction"
      >
  </div>
</div>

{% endblock %}