{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.{% endblock %}

{% block title_class %}engineering-title{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <img
      src="https://static.igem.wiki/teams/4831/wiki/photos/under-construction.png"
      alt="Construction"
      >
  </div>
</div>

{% endblock %}
