{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}home-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/home/home.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/bird.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/waves.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/sun_and_clouds.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div id="page_content">
  <div id="sky">
    <!-- Sun -->
    ​<div class="theSun"></div>
    <!-- Sun end -->

    <!-- Cloud 1 -->
    <div class="cloud c2"></div>
    <!-- Cloud 1 end -->

    <!-- Birds -->
    <div class="bird-container bird-container-one">
      <div class="bird bird-one"></div>
    </div>
    <div class="bird-container bird-container-two">
      <div class="bird bird-two"></div>
    </div>
    <div class="bird-container bird-container-three">
      <div class="bird bird-three"></div>
    </div>
    <div class="bird-container bird-container-four">
      <div class="bird bird-four"></div>
    </div>
    <!-- Birds end -->

    <!-- Cloud 2 -->
    <div class="cloud c2"></div>
    <!-- Cloud 2 end -->
  </div>

  <!--Content before waves-->
  <div class="inner-header flex">
    <img id="merculessLogo" src="https://static.igem.wiki/teams/4831/wiki/logos/merculess-logo-white.png">
  </div>
  <div id="forest">
    <div id="trees"></div>
  </div>
  <div class="forest_floor"></div>
  <!--Content before waves end-->
  <!--Waves Container-->
  <div>
    <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(185, 255, 255,0.9" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(185, 255, 255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(185, 255, 255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(185, 255, 255,0.3)" />
      </g>
    </svg>
    <div class="fish_jump">
      <div class="fish">
        <div class="body"></div>
        <div class="tail"></div>
        <div class="fin-upper-front"></div>
        <div class="fin-upper-back"></div>
        <div class="fin-bottom-front"></div>
        <div class="fin-bottom-back"></div>
        <div class="eye"></div>
      </div>
    </div>
  </div>

  <!--Waves end-->
  <div id="sea">
    <div id="orkki_line"></div>

    <!-- Problem -->
    <div class="row">
      <div class="col">
        <h1>Problem</h1>
        <p style="text-align: center;">
          Finland is a land of many marshlands. These marshlands have been drained overtime to be used for agriculture
          and forestry. As the result of the ditching process the methylmercury that has bioaccumulated to the biomass
          for centuries, is released to nearby water bodies in the runoff water.
        </p>
      </div>
    </div>

    <hr style="height: 50px; background-color: transparent;">

    <div class="row">
      <div class="col" style="text-align: center">
        <h3 style="color: var(--darkBlue);">Why is mercury bad?</h3>
      </div>
    </div>

    <div class="row" id="sectionRow">
      <div class="col-12 col-md-8">
        <p>
          Mercury is a toxic heavy metal that damages lungs, kidneys, skin and eyes. It causes individuals to have
          weakened immune system, problems with their digestive system and damaged nervous system. It also harms the
          development of young children and fetuses.
          <a href="https://www.who.int/news-room/fact-sheets/detail/mercury-and-health">(Mercury and Health. World
            Health Organization. 2017)</a>
        </p>
        <br>
        <p>
          Mercury can be found naturally from the atmosphere, bodies of water and soil. The most toxic form of mercury
          is methylmercury. It binds into organic substances and enriches in the foodchains. Methylmercury has a harmful
          impact on behavioral, neurological and reproductive functions in animals. (<a
            href="https://pubmed.ncbi.nlm.nih.gov/2980392/">Burbacher et al., 1987-1988.</a> &
          <a href="https://www.ncbi.nlm.nih.gov/books/NBK2530/">Newland et al., 2006.</a>) Humans get exposed to
          methylmercury most often by consuming large predator fish and
          crustaceans that have high concentrations of methylmercury.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img id="characterImage"
          src="https://static.igem.wiki/teams/4831/wiki/photos/characters/character-1-colored2.png">
      </div>
    </div>

    <hr style="height: 50px; background-color: transparent;">

    <div class="row">
      <div class="col" style="text-align: center">
        <h3 style="color: var(--darkBlue);">Numbers about mercury</h3>
      </div>
    </div>

    <div class="row" id="infoRow">
      <div id="info_1">
        <p>
          Weekly tolerable intake of methylmercury is 1.3 μg/kg -
          <a href="https://www.efsa.europa.eu/en/press/news/121220">The European Food Safety Authority (EFSA)</a>
        </p>
      </div>
      <div id="info_2">
        <p>"Almost all people in the world have at least trace amounts of methylmercury in their tissues, reflecting its
          pervasive presence in the environment.” -
          <a href="https://www.epa.gov/international-cooperation/mercury-emissions-global-context">United States
            Environmental Protection Agency</a>
        </p>
      </div>
      <div id="info_3">
        <p>
          Developing children and youth and fertile women should eat large fish only 1 or 2 times a month -
          <a href="https://www.ruokavirasto.fi/elintarvikkeet/ohjeita-kuluttajille/turvallisen-kayton-ohjeet/kala/">Finnish
            Food Authority</a>
        </p>
      </div>
    </div>

    <hr style="height: 50px; background-color: transparent;">

    <div class="row">
      <div class="col" style="text-align: center">
        <h3 style="color: var(--darkBlue);">Current solutions</h3>
      </div>
    </div>

    <div class="row" id="sectionRow">
      <div class="col">
        <p>
          The current solution to remove mercury from water is to filter it. There are various methods to filter mercury
          such as reverse osmosis filters and water distillers which both require a lot of energy <a
            href="https://www.drinkaquagear.com/blogs/news/how-to-remove-mercury-from-water">(aquagear, 2021).</a>
          Chemical methods use chemical substances such as ferric salts or sulfide to produce a sludge with ionic
          mercury <a
            href="https://www.epa.gov/sites/default/files/2015-08/documents/treat_tech_mercury_542r07003.pdf">(U.S.
            Environmental Protection Agency Office of Superfund Remediation and Technology Innovation,
            2007)</a>. This method is inexpensive but is not sustainable as chemicals are industrial products that
          require energy and raw materials to be produced and they create waste.
        </p>
      </div>
    </div>

    <hr style="height: 50vh; background-color: transparent;">

    <div class="row to-fade-in-fast" id="sectionRow">
      <div class="col">
        <h3 style="text-align: center; color: var(--darkBlue);">
          Yet, <span id="bold">none of these solutions filter methylmercury</span>. The bond between the ionic mercury
          and the methyl molecule <span id="bold">has to be</span> broken in order to collect the mercury.
        </h3>
      </div>
    </div>

    <hr style="height: 50vh; background-color: transparent;">

    <div class="row to-fade-in-fast" id="sectionRow">
      <div class="col">
        <h3 style="text-align: center; color: var(--darkBlue);">
          To battle this challenge, we have come up with a practically <span id="bold">free-of-charge</span> -solution
          that is also a
          <span id="bold">carbon sink</span>!
        </h3>
      </div>
    </div>

    <hr style="height: 50vh; background-color: transparent;">

    <!-- Our Solution -->
    <div class="row to-fade-in-fast">
      <div class="col" style="text-align: center">
        <h1 style="color: var(--darkBlue);">Let us introduce our solution</h1>
      </div>
    </div>

    <hr style="height: 50vh; background-color: transparent;">

    <div class="row to-fade-in-fast">
      <div class="col" style="text-align: center">
        <img id="merculessLogo" src="https://static.igem.wiki/teams/4831/wiki/logos/merculess-logo-white.png"
          style="filter: drop-shadow(4px 4px 4px var(--darkBlue));">
      </div>
    </div>

    <hr style="height: 50vh; background-color: transparent;">

    <div class="row" id="sectionRow">
      <div class="col">
        <p id="big" style="color: white;">
          In our solution, MercuLess, purifies waters from methyl mercury pollution with the means of synthetic biology.
        </p>
      </div>
    </div>

    <div class="row" id="sectionRow">
      <div class="col-12 col-md-4 order-2 order-md-1">
        <img id="characterImage"
          src="https://static.igem.wiki/teams/4831/wiki/photos/characters/character-45-colored2.png">
      </div>
      <div class="col-12 col-md-8 order-1 order-md-2" style="text-align: center">
        <p id="big" style="color: white;">
          We break the bond between the methyl group and the mercury with a merA gene.
        </p>
      </div>
    </div>

    <div class="row" id="sectionRow">
      <div class="col-12 col-md-8" style="text-align: center">
        <p id="big" style="color: white;">
          Then using a merB gene, the ionic mercury is transformed into less toxic elemental mercury, which can be
          collected from the bioreactor.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img id="characterImage"
          src="https://static.igem.wiki/teams/4831/wiki/photos/characters/character-56-colored2.png">
      </div>
    </div>

    <hr style="height: 100px; background-color: transparent;">

    <div class="row">
      <div class="col" style="text-align: center">
        <h2>Cyanobacteria</h2>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col-12 col-md-4">
        <img id="characterImage" src="https://static.igem.wiki/teams/4831/wiki/photos/characters/character-10.png">
      </div>
      <div class="col-12 col-md-8">
        <p style="color: white;">As our host organism, we use photoautotrophic microorganisms called cyanobacteria.
          These microbes use only light and carbon dioxide to function, which makes our solution sustainable and
          scalable. As these photoautotrophic bacteria use only light as their energy and carbon dioxide as their source
          of carbon
          to function, they hold endless possibilities for sustainable solutions in all sectors of industry. Because no
          external and expensive sugars are needed, no restrictions of energy or carbon are faced in the process. Also,
          no complex mediums are needed as they naturally can grow in both saline or fresh water!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p id="big" style="color: white;">
          Cyanobacteria also have a native merA gene, which makes them a natural choice for MercuLess.
        </p>
      </div>
    </div>

    <hr style="height: 100px; background-color: transparent;">

    <!-- Our Goals -->
    <div class="row">
      <div class="col">
        <h1 style="color: var(--green); text-align: center;">Our Goals</h1>
        <p style="color: white; text-align: center">
          Our goal is to purify natural and processed waters from methyl mercury pollution by using genetically modified
          cyanobacteria. Removing methyl mercury from these waters will support ecological balances, enable the safe use
          of fish and provide clean habitats.
        </p>
      </div>
    </div>

    <div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/safe-habitat-1.png'); background-size: contain;">
        </div>
        <div class="back">
          <h3>Safe Habitat</h3>
          <p>Animals, wildlife and humans, suffer from mercury. Methylmercury accumulates to various tissues and
            interferes with the metabolic activities causing necrosis and degeneration in them</p>
        </div>
      </div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/ecosystem.png');">
        </div>
        <div class="back">
          <h3>Ecosystem</h3>
          <p>The wellbeing and safety of organisms has a direct influence on entire ecosystems: every organism has
            its own role and harming just one can have major effects on the whole system. Also by protecting
            ecosystems we preserve biodiversity.</p>
        </div>
      </div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/food-security-1.png');">
        </div>
        <div class="back">
          <h3>Food Security</h3>
          <p>We know that the future holds threats to food security therefore it’s important to ensure that our
            waters are clean from mercury so that we can use fish and other seafoods safely.</p>
        </div>
      </div>
    </div>

    <hr style="height: 100px; background-color: transparent;">

    <!-- Project video here -->
<!--     
    <div class="row">
      <h1 style="color: var(--green); text-align: center;">Project video</h1>
      <hr style="height: 20px; background-color: transparent;">
      <div class="video">
        <iframe title="Aboa: MercuLess - A way to purify our waters (2023) - Project Promotion [English]"
          src="https://video.igem.org/videos/embed/a4d94b59-a1b7-4779-8e76-42d7dfbab87b?title=0&amp;warningTitle=0&amp;peertubeLink=0&amp;p2p=0"
          allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315"
          frameborder="0">
        </iframe>
      </div>

      <hr style="height: 100px; background-color: transparent;"> -->

    </div>  

  </div>
</div>

{% endblock %}