{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}home-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/home/home.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/bird.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/waves.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'styles/home/sun_and_clouds.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div id="page_content">
  <div id="sky">
    <!-- Sun -->
    ​<div class="theSun"></div>
    <!-- Sun end -->

    <!-- Cloud 1 -->
    <div class="cloud c2"></div>
    <!-- Cloud 1 end -->

    <!-- Birds -->
    <div class="bird-container bird-container-one">
      <div class="bird bird-one"></div>
    </div>
    <div class="bird-container bird-container-two">
      <div class="bird bird-two"></div>
    </div>
    <div class="bird-container bird-container-three">
      <div class="bird bird-three"></div>
    </div>
    <div class="bird-container bird-container-four">
      <div class="bird bird-four"></div>
    </div>
    <!-- Birds end -->

    <!-- Cloud 2 -->
    <div class="cloud c2"></div>
    <!-- Cloud 2 end -->
  </div>

  <!--Content before waves-->
  <div class="inner-header flex">
    <img id="merculessLogo" src="https://static.igem.wiki/teams/4831/wiki/logos/merculess-logo-white.png">
  </div>
  <div id="forest">
    <div id="trees"></div>
  </div>
  <!--Content before waves end-->
  <!--Waves Container-->
  <div>
    <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(185, 255, 255,0.9" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(185, 255, 255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(185, 255, 255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(185, 255, 255,0.3)" />
      </g>
    </svg>
    <div class="fish_jump">
      <div class="fish">
        <div class="body"></div>
        <div class="tail"></div>
        <div class="fin-upper-front"></div>
        <div class="fin-upper-back"></div>
        <div class="fin-bottom-front"></div>
        <div class="fin-bottom-back"></div>
        <div class="eye"></div>
      </div>
    </div>
  </div>
  <!--Waves end-->
  <div id="sea">
    <div id="orkki_line"></div>
    <!-- Problem -->
    <div class="row">
      <div class="col" style="text-align: center">
        <h1>Problem</h1>
        <p>
          Finland is a land of many marshlands. These marshlands have been drained overtime to use for agriculture and
          forestry. As these marshlands have been ditched, the methyl mercury that has bioaccumulated to the biomass for
          centuries, is released to nearby water bodies in the runoff water.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <h3>Why is mercury bad?</h3>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col-sm-8 col-lg-8" style="text-align: center">
        <p>
          Mercury is a toxic heavy metal that damages lungs, kidneys, skin and eyes and causes individuals to have
          weakened immune system, problems with their digestive system and damaged nervous system. It also harms the
          development of young children and
          <a href="https://www.who.int/news-room/fact-sheets/detail/mercury-and-health">fetuses.</a>
        </p>
      </div>
      <div class="col-sm-4 col-lg-4">
        <img id="characterImage" src="https://static.igem.wiki/teams/4831/wiki/photos/characters/characters-1.png">
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col" style="text-align: center">
        <p>
          Mercury can be found naturally from the atmosphere, bodies of water and soil. The most toxic form of mercury
          is methyl mercury. It binds into organic substances and enriches in the foodchains. Methyl mercury causes
          behavioral, neurological and reproductive issues in animals. <a
            href="https://pubmed.ncbi.nlm.nih.gov/2980392/"></a>
          <a href="https://www.ncbi.nlm.nih.gov/books/NBK2530/"></a> Humans get exposed to methyl mercury most often by
          consuming
          large predator fish and crustaceans that have high concentrations of methyl mercury.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <h3>Numbers about mercury</h3>
      </div>
    </div>
    <div class="row" id="infoRow">
      <div id="info_1">
        <p>"Almost all people in the world have at least trace amounts of methylmercury in their tissues, reflecting its
          pervasive presence in the environment.” - United States Environmental Protection Agency
        </p>
      </div>
      <div id="info_2">
        <p>
          In 2022, an estimated 2,200 metric tons of mercury was produced worldwide. Mercury is mainly used in the
          manufacturing of electrical and electronic goods as well as industrial chemicals. - M. Garside, Mar 21, 2023,
          Statista
        </p>
      </div>
      <div id="info_3">
        <p>
          Weekly tolerable intake of methyl mercury is 1.3 μg/kg - The European Food Safety Authority (EFSA)
        </p>
      </div>
      <div id="info_4">
        <p>
          Developing children and youth and fertile women should eat large fish only 1 or 2 times a month - Finnish Food
          Authority
        </p>
      </div>
      <div id="info_5">
        <p>
          Artisanal and small-scale gold mining (ASGM) uses 892 tonnes of mercury as a median value yearly and emmits
          615 tonnes of mercury as a median value - <a
            href="https://www.sciencedirect.com/science/article/abs/pii/S0301420723000788">Cheng, Y., et al 2023</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <h3>Current solutions</h3>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col">
        <p>
          The current solutions to remove mercury from water is to filter it. There are various methods to filter
          mercury such as reverse osmosis filters and water distillers which both require a lot of energy. Chemical
          methods such as coagulation uses aluminum sulfate to produce a sludge with ionic mercury. This method is
          inexpensive but is not sustainable as aluminum sulfate has to be produced for it.
        </p>
        <br>
        <p>
          Yet, <span id="bold">none of these solutions filter methyl mercury</span>. The bond between the ionic mercury
          and the methyl molecule
          has to be broken in order to collect the mercury.
        </p>
      </div>
    </div>
    <hr style="border: 2px solid var(--yellow);">

    <!-- Our Solution -->
    <div class="row">
      <div class="col" style="text-align: center">
        <h1 style="color: var(--green);">Our solution</h1>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col">
        <p style="color: white;">To battle this challenge, we have come up with a practically free-of-charge -solution
          that is also a carbon
          sink! As our host organism, we use photoautotrophic micro-organisms called cyanobacteria. These microbes use
          only light and carbondioxide to function, which makes our solution sustainable and scalable.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <h2>MercuLess</h2>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col">
        <p id="big" style="color: white;">
          In our solution, MercuLess, purifies waters from methyl mercury pollution with the means of synthetic biology.
        </p>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col-sm-4 col-lg-6">
        <img id="characterImage" src="https://static.igem.wiki/teams/4831/wiki/photos/characters/characters-45.png">
      </div>
      <div class="col-sm-8 col-lg-6" style="text-align: center">
        <p id="big" style="color: white;">
          We break the bond between the methyl group and the mercury with a merA gene.
        </p>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col-sm-8 col-lg-6" style="text-align: center">
        <p id="big" style="color: white;">
          Then using a merB gene, the ionic mercury is transformed into less toxic elemental mercury, which can be
          collected from the bioreactor.
        </p>
      </div>
      <div class="col-sm-4 col-lg-6">
        <img id="characterImage" src="https://static.igem.wiki/teams/4831/wiki/photos/characters/characters-56-3.png">
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <h2>Cyanobacteria</h2>
      </div>
    </div>
    <div class="row" id="sectionRow">
      <div class="col-sm-4 col-lg-4">
        <img id="characterImage" src="https://static.igem.wiki/teams/4831/wiki/photos/characters/characters-9.png">
      </div>
      <div class="col-sm-8 col-lg-8">
        <p style="color: white;">
          As these photoautotrophic bacteria use only light as their energy and carbon dioxide as their source of carbon
          to function, they hold endless possibilities for sustainable solutions in all sectors of industry. Because no
          external and expensive sugars are needed, no restrictions of energy or carbon are faced in the process. Also,
          no complex mediums are needed as they naturally can grow in both saline or fresh water!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="big" style="color: white;">
          Cyanobacteria also have a native merA gene, which makes them a natural choice for MercuLess.
        </p>
      </div>
    </div>




    <hr style="border: 2px solid var(--yellow);">

    <!-- Our Goals -->
    <div class="row">
      <div class="col" style="text-align: center">
        <h1 style="color: var(--green);">Our Goals</h1>
        <p style="color: white;">
          Our goal is to purify natural and processed waters from methyl mercury pollution by using genetically modified
          cyanobacteria. Removing methyl mercury from these waters will support ecological balances, enable the safe use
          of fish and provide clean habitats.
        </p>
      </div>
    </div>
    <div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/safe-habitat-1.png'); background-size: contain;">
        </div>
        <div class="back">
          <h3>Safe Habitat</h3>
          <p>Animals, wildlife and humans, suffer from mercury. Methylmercury accumulates to various tissues and
            interferes with the metabolic activities causing necrosis and degeneration in them</p>
        </div>
      </div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/ecosystem.png');">
        </div>
        <div class="back">
          <h3>Ecosystem</h3>
          <p>The wellbeing and safety of organisms has a direct influence on entire ecosystems: every organism has
            its own role and harming just one can have major effects on the whole system. Also by protecting
            ecosystems we preserve biodiversity.</p>
        </div>
      </div>
      <div class="flip">
        <div class="front"
          style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/food-security-1.png');">
        </div>
        <div class="back">
          <h3>Food Security</h3>
          <p>We know that the future holds threats to food security therefore it’s important to ensure that our
            waters are clean from mercury so that we can use fish and other seafoods safely.</p>
        </div>
      </div>
    </div>

    <!-- Project video here -->

  </div>
</div>
{% endblock %}