{% extends "layout.html" %}

{% block title %}MercuLess{% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}home-title{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col-lg-4">
    <img src="https://static.igem.wiki/teams/4831/wiki/photos/pallero.jpg" alt="Construction">
  </div>
  <div class="col-lg-8" style="text-align: center">
    <h3 style="margin-top: 90px;">This page is under construction.</h3>
    <br>
    <h3>Check out our project description
      <a href="https://2023.igem.wiki/aboa-turku/description">here!</a>
    </h3>
    <br>
    <h3>Meet our team 
      <a href="https://2023.igem.wiki/aboa-turku/team">here!</a>
    </h3>
  </div>
</div>

{% endblock %}