{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
the world. Consider how the world affects your work and how your work affects the world.{% endblock %}
{% block title_class %}humanpractices-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename='styles/human_practices.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-lg-8">
    <h1>Who helped us?</h1>
    <div class="timeline">
      <div class="outer">
        <div class="card">
          <div class="info">
            <h3 class="date">14.4.2023</h3>
            <h3 class="who">Juha Kurkela<span>, PhD molecular plant biology, utu</span></h3>
            <br>
            <div class="content">
              <div>
                <h3 class="subtitle">Why did we reach out to him?</h3>
                <p>Juha Kurkela works at the molecular plant biology department at University of Turku, Finland. It’s
                  the same department where our laboratories are at. He helped us get started with the labs by going
                  through our plans with us</p>
              </div>
              <p> and recommending some techniques to use in our laboratory work. He was
                happy to help us whenever needed, we didn’t always have a booked meeting.</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h3 class="date">22.5.2023</h3>
            <h3 class="who">Celine Arzel, Docent<span>, Wildlife Research and Management, utu</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h3 class="date">25.5.2023</h3>
            <h3 class="who">Arja Alikoivisto<span>, Forest owner, Master of business administration, Bioeconomy
                agrologist Silva ry</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h3 class="date">Title 4</h3>
            <h3 class="who">Antti Kaseva<span>, Environment and water technology expert, Turku university of applied
                sciences</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h3 class="date">Title 5</h3>
            <h3 class="who">Riikka Vainio<span>, Ecologist</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}