{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for
the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block title_class %}human-practices-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename='styles/human_practices.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="page_content">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto" style="text-align: justify;">
      <div class="scroll-here"></div>

      <div class="page-menu">
        <button class="page-menu-item active" onclick="showContent(1)" data-content="1">
          <p class="page-menu-icon">Overview</p>
        </button>
        <button class="page-menu-item" onclick="showContent(2)" data-content="2">
          <p class="page-menu-icon">Stakeholders</p>
        </button>
        <button class="page-menu-item" onclick="showContent(3)" data-content="3">
          <p class="page-menu-icon">Our values</p>
        </button>
      </div>

      <hr id="gap20">

      <div class="page-menu-content" id="content1">
        <h1 class="text-center section-title">Overview of the path of MercuLess </h1>
        <br>
        <h3 class="text-center">An unleashed danger</h3>
        <p>
          Our idea which is now fully fleshed, took a path of evolution and understanding. Finland has around 8.7
          million hectares of marshes, of which 4.7 million hectares have already been drained (<a
            href="https://www.metsa.fi/en/nature-and-heritage/habitats/mire-restoration/#:~:text=Originally%2C%20natural%20mires%20covered%20a,before%20the%20mires%20were%20protected">Metsähallitus,
            the Forest Ministry of Finland</a>).
          It has led to the leaching of organic matter and heavy metals into the nearby
          soil water bodies where they become bioavailable (<a
            href="https://www.sciencedirect.com/science/article/pii/S0045653597002853">Leivuori, 1998</a>). Some of
          these heavy metals have infiltrated
          the food chains and ultimately human bodies (<a
            href="https://projects.luke.fi/ruokafakta/en/meat-and-fish/contaminants-in-the-fish-caught/">Luonnonvarakeskus,
            the Nature Resource Center</a>). It is common
          knowledge that by accumulating chronically, many heavy metals disrupt some vital cellular mechanisms, leading
          to various systemic disorders (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4427717/">Jaishankar,
            2014</a>).
        </p>
        <br>
        <h3 class="text-center">The quest for MercuLess began</h3>
        <p>
          Hence we felt the urge to save our water bodies - we just were not sure how to do it. So the quest for meaning
          began. We did our research and contacted many experts asking for their practical suggestions. We knew we could
          not develop a system to fight all the pollutants within the limited project time, so wanted to focus on the
          major pollutant that is wreaking havoc not only in our ecosystem but also on a global scale. Céline Arzel, one
          of the researchers we contacted suggested we focus on mercury pollution.
        </p>
        <br>
        <h3 class="text-center">Eyes on the supervillain</h3>
        <p>
          So we narrowed down our research and focussed on mercury, more specifically methylmercury pollution.
          Marshlands are an important source of methylmercury (<a
            href="https://www.researchgate.net/publication/246431001_Importance_of_Wetlands_as_Sources_of_Methyl_Mercury_to_Boreal_Forest_Ecosystems">St.
            Louis, 1994</a>). Through our research, we came to know
          that methylmercury is the major environmental mercury pollutant on species and because of its bioavailability
          it is the most toxic form of mercury known to humans. A quick Google search revealed that the annual global
          mercury pollution is approx. 2200 metric tons - just from various anthropogenic sources. The magnitude of it
          shocked us and further made us determine that we must do something about it using synthetic biology
          (<a
            href="https://www.epa.gov/international-cooperation/mercury-emissions-global-context#:~:text=3%2C768-,Worldwide%20Emissions,mercury%20that%20is%20re%2Demitted">The
            United States Environmental Protection Agency</a>).
        </p>
        <br>
        <h3 class="text-center">Mastering the art of war</h3>
        <p>
          Throughout our journey, we also delved into various other aspects that are relevant - from learning more about
          the marshland ecosystem, restoration strategies, mercury pollution situation & its effects on humans and other
          biomes in general to theoretical implementation model.
        </p>
        <br>
        <h3 class="text-center">We did not walk alone</h3>
        <p>
          We contacted several Finnish agencies and institutes to get a complete picture of the problem and initial
          feedback for our solution. We had frequent conversations and meetings with experts and researchers from
          related fields. We also contacted fishermen and forest owners - to listen to their experiences and insights
          regarding pollution and discussed how our project is connected to them and vice versa. They also provided us
          with important information and contacts. You can read more about the discussions we had with our various
          stakeholders from beneath.
        </p>
        <br>
        <h3 class="text-center">The hope we cherish</h3>
        <p>
          By reflecting on all the information and suggestions we gathered over time, we wanted to outline a project
          that is sustainable and has a great upscaling potential to solve major global pollution. As a student team, we
          are determined to pave the way for a better future for the generations to come.
        </p>
      </div>
      <div class="page-menu-content" id="content2">
        <h1 class="text-center section-title">Conversations with our stakeholders</h1>
        <br>
        <p>
          In our Human Practice work we wanted to learn about the bond between our project and its different
          stakeholders. We had conversations which helped us understand the impact our project may have. It isn’t just
          scientists who create solutions; we need people who are close to the problem. Forests and waters are an
          important source of income for many people in Finland. Our project could help to preserve the livelihoods of
          these people and make the gathered food safer. MercuLess helps maintain biodiversity, safe habitat and
          ecosystem balance.
        </p>
        <div class="timeline">
          <div class="outer">
            <div class="accordion" id="Human-practices">

              <hr id="gap20">

              <div class="accordion-item" id="Pauli Kallio">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h3 class="timeline-title">
                      <span class="who">Pauli Kallio</span>
                      <span>, Molecular Plant Biology Ph.D., Associate Professor at University of Turku</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            Pauli Kallio is our PI and official advisor. He has worked with cyanobacteria for a long
                            time and understands the way the scientific community operates. Besides him being our PI
                            we reached out to understand about cyanobacteria, circular economy and the challenges the
                            scientific community has faced.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            He has given us professional view in our ideas when needed and helped us create a
                            reasonable scientific project. We have had many meetings with him in which we have
                            discussed our concerns about the project. We of course have given him updates about our
                            project progress in general too.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            He helped us understand that our project needs to be well-thought as a whole and taught us
                            about the circular economy concept. With his help we could plan our project in a
                            responsible way. In addition he has always been there to support us when things have felt
                            hard and when we did not know how to proceed.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Juha Kurkela">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3 class="timeline-title">
                      <span class="date">14.4.2023</span>
                      <br />
                      <span class="who">Juha Kurkela</span>
                      <span>, PhD Molecular Plant Biology, University of Turku</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            Juha Kurkela works at the Molecular Plant Biology Department at University of Turku – the
                            same department where our laboratories are at. He helped us get started with the
                            laboratory work by going through our plans with us and recommending some techniques to use
                            in our laboratory work. He was happy to help us whenever needed, we did not always have a
                            booked meeting.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            Juha has done a lot of similar lab work as we did in our project and we learned that we
                            need to stay persistent. Sometimes things just do not work out and there is no specific
                            reason for that, trial and error is how you learn in genetic engineering.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            Juha has been a huge support for us through our project. Thanks to him and our Principal
                            Investigator Pauli Kallio we have been able to develop our techniques in the right way and
                            achieve success in our lab work.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Celine Arzel">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h3 class="timeline-title">
                      <span class="date">22.5.2023</span>
                      <br />
                      <span class="who">Celine Arzel</span>
                      <span>, Docent, Wildlife Research and Management, University of Turku</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            Celine Arzel works at the University of Turku. She has done research in wetland ecology
                            which is highly related to our project. We wanted to hear her thoughts about our project and
                            know if she has any new information for us.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We had prepared some questions about mercury concentrations and its effects on nature. We
                            got a lot of information about mercury’s harmful effects and some tips where to seek answers
                            for our concentration questions.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            Expert’s knowledge about mercury and its effects in bodies of water was needed for us to
                            continue our project. With this knowledge we were able to understand who our stakeholders
                            are and see the big picture of our project.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Arja Alikoivisto">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h3 class="timeline-title">
                      <span class="date">25.5.2023</span>
                      <br />
                      <span class="who">Arja Alikoivisto</span>
                      <span>, Forest owner, Master of Business Administration, Forest owner, Bioeconomy agrologist Silva
                        ry</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            Arja Alikoivisto works at Silva ry as a secretary. Silva ry is a Finnish association for the
                            continuous growth of the forest. We decided to reach out to her as we realized that perhaps
                            the harmful effects of mercury do not only concern the wetlands but the forests as well.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We learned that many forest owners in Finland do not even know about such issues as mercury
                            or its harmful effects on nature. Also the forests are an important livelihood in Finland
                            and many people would be ready to protect their forests if it would profit them. She also
                            gave us excellent other contacts that could help us bring forth our project.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            We realized that we need to include more landowners to our project in order to really make a
                            change. Landowners are one group of people who need to take action in a fight against
                            mercury pollution and they may not even know about such a problem as mercury.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Antti Kaseva">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h3 class="timeline-title">
                      <span class="date">29.5.2023</span>
                      <br />
                      <span class="who">Antti Kaseva</span>
                      <span>, Environment and water technology expert, Turku University of Applied Sciences</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            Since Antti Kaseva is an expert in water technology, we thought that we could get some new
                            views on our project.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We learned a lot about process waters and got inspiration for a new possible implementation
                            for our project. What if this is something we could use in wastewater treatment? Closed
                            pools would guarantee the safe use of GM bacteria.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            We got a few excellent development ideas to make your solution more reliable and versatile.
                            With the knowledge gained from this meeting, we understood that our solution could be
                            utilized in the purification of process waters in addition to natural waters.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Riikka Vainio">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h3 class="timeline-title">
                      <span class="date">10.8.2023</span>
                      <br />
                      <span class="who">Riikka Vainio</span>
                      <span>, Ecologist, Turku University of Applied Sciences</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            Riikka Vainio has studied ecology at the University of Turku and now works at the Turku
                            University of Applied Sciences. Her thesis was about mercury and its effects in different
                            food chains. Since we had desperately tried to find more studies regarding mercury, we were
                            eager to have a meeting with her.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            One important point was that even if the mercury concentration is not at a dangerous level,
                            it still has toxic effects when combined with other harmful compounds in water. We also
                            learned about the regional effects of mercury. It is maybe an even bigger problem in
                            developing countries since there is no legislation about mercury emissions. Also GMO
                            legislation in the EU is really strict, so we need to plan our implementation carefully.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            This got us considering our project idea outside the Finland borders too but we still
                            eventually decided that we need to focus mainly on Finland’s nature since the time is
                            limited.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Elisa Männistö">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <h3 class="timeline-title">
                      <span class="date">16.8.2023</span>
                      <br />
                      <span class="who">Elisa Männistö</span>
                      <span>, Ecologist, Turku University of Applied Sciences</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            Elisa Männistö is a post-doc researcher at the University of Eastern Finland. She does
                            research on swamp ecology regarding the methane and other harmful gaseous compounds, the
                            swamp fauna and its effect on carbon releases.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            Heavy metals are not really a problem in natural swamps but they might be at drained and
                            restored ones. We learned that there is not much conversation about heavy metals when
                            talking about restoration and Elisa said that this is something that should be studied more.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            We need to figure out what are the differences in mercury levels on drained and restored
                            marshlands. She also assured us that the restoration of marshlands is important in the
                            combat against climate change and new restoration techniques are needed.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Laura Höijer">
                <h2 class="accordion-header" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <h3 class="timeline-title">
                      <span class="date">18.8.2023</span>
                      <br />
                      <span class="who">Laura Höijer</span>
                      <span>, Managing Director and a solutions-oriented idealist at Baltic Sea Action Group</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            Laura Höijer has worked for five years at the Baltic Sea Action Group organization. We
                            contacted her to learn more about what BSAG organization does and what to consider when
                            being a part of environmental projects. She has extensive background in the environmental
                            sector.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            Mercury and other harmful compounds have not been main priorities in the Baltic Sea
                            protection for a while. Nutrient emissions to the sea have been more relevant recently. She
                            says that funding is a vital part of these types of projects and usually determines if the
                            project can have a long-standing effect. She suggested we should consider the economical
                            endurance of our project. Also we learned that sometimes there is much work needed in order
                            to shake the rooted opinions of others and approaching the topic from their point of view
                            helps the conversation get somewhere.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            Laura impacted the way we look at environmental projects. She helped us understand that
                            bringing different stakeholders to the same table helps the wanted change to be broad and
                            continuous. These conversations with stakeholders can have social effects such as finding
                            confidence and motivation to choose the more sustainable solution. Shame and guilt can
                            discourage people from making responsible choices. Meeting with Laura changed the way we
                            spread information about our project, how we approached our stakeholders and inspired us to
                            focus more on the financial side. As a result we made a clear plan about our end users and
                            even SWOT and PESTLE analyses.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Fishers">
                <h2 class="accordion-header" id="headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <h3 class="timeline-title">
                      <span class="date">21.7.-23.8.2023</span>
                      <br />
                      <span class="who">Fishers, Ari Savikko from the Fishlibrary of Finland, Jaakko Ikonen, Mikael
                        Jaakkola, Jyrki Haaraoja, Tero Pulkkinen, Harri Hietakangas</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to fishers?</span><br>
                            Fishers are the first ones to experience the impact of our project. We wanted to talk with
                            them to understand their insights and opinions.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We learned that mercury and the dangers it poses are a known subject in the fisher
                            community. Ari Savikko from Suomen Kalakirjasto (The Fishlibrary of Finland) told us that
                            mercury was a big talking point around the 70’s and the 80’s when artificial lakes were
                            built in Finland. Although mercury is not such a hot topic nowadays, every fisher we talked
                            with said that we should still do something about it and information about harmful compounds
                            should be spread. Jaakko Ikonen said that it is frustrating to stress about mercury and
                            other harmful compounds fish may contain. We discussed the various threats fish are facing:
                            climate change, eutrophication, the lack of management fishing and also overfishing.
                            Although there are many threats, all of the fishers agree that fishing is valuable. Fishing
                            means a lot for them: it is their lifeline, a way of connecting with nature, a way to relax
                            and a source of physical and mental strength. Jyrki Haaraoja said that the cultural value is
                            fading but it is still there and it should be protected to the next generations.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            The fisher helped us understand fishing and the impact our project has to the fisher
                            community. We listened and took their insights into consideration: we decided that one of
                            our goals is to protect the safe use of fish. Also the fishers helped us understand more of
                            the great meaning of traditional hobbies and livelihoods. Therefore, one of our values is
                            well-being because these traditions promote well-being in whole communities.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Jouko Tuomi">
                <h2 class="accordion-header" id="headingTen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    <h3 class="timeline-title">
                      <span class="date">29.8.2023</span>
                      <br />
                      <span class="who">Jouko Tuomi</span>
                      <span>, process engineer at wastewater treatment plant</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            Since we got the idea to utilize our project in waste water treatment, we needed to know
                            more about how the wastewater is handled in Finland at the moment. We reached out to the
                            local wastewater treatment plant (Kakolan jätevedenpuhdistamo) and got an invitation to a
                            guided trip.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            The tour at the plant was amazing and we learned a lot about wastewater treatment. The water
                            treatment plant collects water from the municipalities’ households and factories with the
                            help of pump stations. When the water comes to the plant it may contain anything like trash,
                            nitrogen, phosphorus, anything. After the water has been treated at the plant, it will be
                            directed to the sea. The sludge will first go to a biogas factory and the outproducts from
                            that process will be used for green infrastructure such as planting plants by roads. The
                            sludge will first be hygienisized (living cells are killed). Any solids will be burned for
                            energy. The water will be purified mechanically of solids and biologically from any
                            dissolved waste such as nitrogen and phosphorus. The bacteria accumulate the dissolved
                            waste. Any toxic substances that are accumulated by the bacteria will go to the environment
                            with the sludge. The purification process and the use of the end products do not have a
                            standard protocol in Finland. In the biological process there is no knowledge of the content
                            of the water: it may contain anything. The main goal of the process is to get nitrogen out
                            of the water. The main responsibility with the heavy metal emissions lie on the factories
                            that produce that kind of emissions; they need to clear the water from those before it comes
                            to the wastewater plant.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            We realized that there are many emissions that are not requuired to be taken care of. New
                            ways of water purification are needed and our project could be one of those. We need to make
                            people realize how harmful heavy metal, especially mercury, emissions are to the environment
                            and then maybe someday the Finnish emission law will tighten .
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Pihla and Kirsi">
                <h2 class="accordion-header" id="headingEleven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    <h3 class="timeline-title">
                      <span class="date">31.8.2023</span>
                      <br />
                      <span class="who">Pihla Hasan</span>
                      <span>, project manager in KASKI project</span>
                      <br />
                      <span class="who">Kirsi Koivula</span>
                      <span>, project worker in KASKI project</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to Kirsi and Pihla?</span><br>
                            When researching information regarding photobioreactors, CircLab appeared. CircLab is a new
                            Research and Development environment located in Micropolis in Ii. Pihla and Kirsi are
                            working in Micropolis regarding CircLab and Growth from the Circulation with Green
                            Techniques project called KASKI. They have first hand experience of photobioreactors and
                            growing algae. Thus we contacted them to talk about the experiences they have had and
                            understand what we should consider.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We learned that algae growing is not as simple as one might think. There are a lot of things
                            to consider such as the design of the reactor, the aeration of the system and what are the
                            optimal conditions for the organism. In addition we learned that the growing process must be
                            done gradually and there are contamination risks involved in every step. Before leaving the
                            meeting they assured us that every unwanted result is an important result: because then we
                            know if something does not work.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            After the meeting with Pihla and Kirsi we started to research answers for all the questions
                            and points they had. This conversation helped us to make our implementation plan even more
                            whole and to consider aspects we had not thought of for example the aeration of the system.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Katja Rytkönen">
                <h2 class="accordion-header" id="headingTwelve">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    <h3 class="timeline-title">
                      <span class="date">5.9.2023</span>
                      <br />
                      <span class="who">Katja Rytkönen</span>
                      <span>, the executive director of Turun pursiseura (in English Turku’s yacht club) and a board
                        member of Pidä Saaristo Siistinä ry (in English Keep the Archipelago Tidy)</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to her?</span><br>
                            We reached out to Katja so we could understand more about the Baltic Sea, those who spend
                            time there and how we should consider this community.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            Katja told us that there is not much talk regarding mercury but thinks it would not be a bad
                            idea if the community would know more about it and the possible dangers. The hot topic right
                            now is plastic waste which can be seen in the archipelago. This might be because the problem
                            is visible unlike mercury pollution. She said that she knows that there are safety
                            recommendations for eating fish and suspects that the boating community knows this too. We
                            talked about the toxic paints that are used to prevent barnacles from attaching to the boat
                            bottoms. Katja said that although there is information regarding the downsides of this and
                            even the yacht club offers a free washing of the boat, it is a habit and tradition to paint
                            the boat and those rooted opinions are hard to shake. Even though it might be hard she
                            believes change can happen through spreading information in a positive and not judgemental
                            way. She recommended us to also spread information in a positive manner to get people
                            interested and motivated about the topic. This route is often the harder one but worth it in
                            the long-run. In the end of the conversation we talked about the importance of the Baltic
                            Sea to the boating community and personally to Katja. She said that sailing and the sea has
                            always been part of her life and nature overall gives her a place to calm down and enjoy her
                            time.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            We can now take the boating community and the Baltic Sea into consideration even better in
                            our project because we understand them and their point of views. What we took home from this
                            enlightening conversation was to spread more information about mercury, the dangers it poses
                            and how we can fight against it in a positive, encouraging and motivating way. In addition
                            this conversation assured us that there is willingness to do something about this mercury
                            problem and that the Baltic Sea is important for several people and whole communities.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Risto Sulkava">
                <h2 class="accordion-header" id="headingThirteen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                    <h3 class="timeline-title">
                      <span class="date"> 8.9.2023</span>
                      <br>
                      <span class="who">Risto Sulkava</span>
                      <span>, the chairperson and scientific director of Hiilipörssi</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            One of our team members noticed that there is a Finnish company called Hiilipörssi, which
                            offers marshland restoration services. We wanted to learn more about the restoration and
                            people’s opinions about it.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            We discussed marshlands in general, how they are huge carbon storages and how this carbon is
                            released when the turf breaks down. We learned more about the restoration process of
                            marshlands, what advantages it has and compensation companies. In addition, Risto emphasized
                            the importance of understanding the bigger picture and making sure the restoration process
                            is
                            beneficial in the long run also. We discussed the rooted opinions people have on marshland
                            restoration and how spreading more information about the process and its advantages could
                            help
                            change these opinions. It was hopeful to hear that some people have understood the benefits
                            of
                            restoration and have given their marshlands for restoration even without any financial
                            compensation. Although such individuals are still quite uncommon.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            This meeting really supported our previous conclusions about the importance of marshlands as
                            carbon storages and how they are a vital part of our ecosystems. People need more
                            information
                            in order for nature conservation projects to happen and attitudes towards conservation to
                            change. This is why we will keep up the education work and recommend it to next year's team
                            too. In addition this conversation impacted our views on our possible end users: perhaps
                            some
                            of our end users will not demand financial benefit but will use our application since they
                            understands the bigger picture benefits. You can read more about our end users on the
                            <a href="https://2023.igem.wiki/aboa-turku/implementation">Implementation page</a>.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

              <div class="accordion-item" id="Jaakko Perttunen">
                <h2 class="accordion-header" id="headingFourteen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                    <h3 class="timeline-title">
                      <span class="date"> 15.9.2023</span>
                      <br>
                      <span class="who">Jaakko Perttunen</span>
                      <span>, Board member of Eläinoikeuspuolue (in English the Animal rights party)</span>
                    </h3>
                  </button>
                </h2>
                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                  data-bs-parent="#Human-practices">
                  <div class="accordion-body">
                    <div class="card">
                      <div class="info">
                        <div class="content">
                          <p>
                            <span id="bold">Why did we reach out to him?</span><br>
                            We reached out to the Eläinoikeuspuolue to understand their views on fishing and animal
                            rights. From 2016 Eläinoikeuspuolue has been a registered political party which aims to make
                            Finland a society where equal rights for fulfilling life and secured future are guaranteed
                            for humans and other animals. Jaakko Perttunen, a board member of the party, answered our
                            email and shed light on their opinions. Jaakko was glad to hear that we want to consider the
                            critical side of fishing also in our project and says that it is good to bring up the
                            viewpoints of other animals in addition to humans.
                            <br><br>
                            <span id="bold">What did we learn from this?</span><br>
                            Jaakko told us that the Eläinoikeuspuolue opposes all killing of animals, which also
                            includes fish. They want stricter laws for fishing because the loose commercial fishing
                            rules are one reason why the fish populations have crashed and marine ecosystems are
                            endangered. Although they do not endorse fishing, they believe that as long as fish is used
                            for the food of humans and pets it should be safe from mercury. The Eläinoikeuspuolue also
                            spreads information regarding fish and aims to break myths and flawed beliefs about fish
                            such as them being lesser animals than mammals. Regarding mercury, Jaakko said that it is
                            great that we are creating a solution to purify it from our environment because mercury is
                            as dangerous to other animals as it is to humans. He also said that regardless of the use of
                            fish as a food source, it is still right to clean the mercury out of nature for the sake of
                            the animals themselves.
                            <br><br>
                            <span id="bold">What kind of impact did this have to our project?</span><br>
                            Learning more about animal rights helped us consider them even better in our project by
                            greatly emphasizing that both mercury and MercuLess can impact all organisms, not just
                            humans. Also in our Implementation page we consider the risk of increasing the loosely
                            regulated commercial fishing and the negative impacts it has to marine ecosystems. After
                            pondering our project goals we still agreed as a team to have protecting the safe use of
                            fish and other marine food sources as our value. We want to protect the safe use of these
                            food sources for all species that consume fish.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr id="gap20">

            </div>
          </div>
        </div>
      </div>
      <div class="page-menu-content" id="content3">
        <h1 class="text-center section-title">Our values</h1>
        <br>
        <p>
          Our values are things that are important for us in everyday life. Through our project we kept
          our team values as a guideline. All these five values below are well thought and accepted by all our team
          members.
          <br><br>
          <span id="bold">Responsibility</span> - Our goal is to take both social and environmental responsibility into
          consideration in our
          project. We want to emphasize that biodiversity, the health of ecosystems and sustainable decisions are
          everyone’s responsibility. We all affect the future of your planet’s wellbeing and other species’ possibility
          to thrive. This includes social responsibility: together securing the right for everyone to access clean water
          and safe food. Considering our project topic, responsibility means also responsible scientific research and
          work with genetically modified organisms. Our PI Pauli Kallio and the whole Molecular Plant Biology Department
          at University of Turku had an impact on us while we were working in our laboratory at the mentioned department
          as they showed us the meaning of responsible scientific research and why responsibility should be one of our
          values.
          <br><br>
          <span id="bold">Courage</span> - Our project is tackling a topic, which is both scientifically and socially
          difficult. Many cultures
          and communities have long traditions of using aquatic resources. When the issue of mercury arises, they might
          be reluctant to admit that their traditions have been harmful. Especially in Finland the narrative often is
          that there is no need for change because things have been done in the same way for decades. To give them new
          insight to synthetic biology and its opportunities, we need courage to face the opposition. Also, our team is
          young and new to the iGEM community. We do not have a large security and consultation network to provide
          advice or financial support. We have gained every bit of knowledge and support ourselves. For these reasons
          our team value is courage. This value really started from us and grew stronger as we got further with the
          project.
          <br><br>
          <span id="bold">Diversity</span> - Our team is a diverse group of students from three different universities
          and different
          backgrounds. Our team members study information technology, biotechnology, biochemistry, social sciences,
          biomedicine and animation providing our team a diverse skill set. Our project topic also concerns all people
          around the world despite location, race or wealth. In addition to humans, MercuLess impacts other animals as
          well. With securing as diverse life as possible for each individual, we will build a more favorable future for
          all. The reason for our team’s diversity are the efforts the last year’s ABOA team made when recruiting us.
          Jonna Pohjankukka, last year’s team member who was part of the recruiting, told us that they noticed how
          important diverse backgrounds and skills were when they went through their iGEM journey therefore they really
          focused on diversity. ABOA 2022 really had an impact on our team and therefore on our values: they showed how
          important diversity is and why it should be one of our values.
          <br><br>
          <span id="bold">Unity</span> - As the heavy metal issue concerns all of the human kind, we want to unite
          everyone to battle the
          problem. Hence we have included all age groups from children at kindergarten to elderly people in our
          education work. When we reach out to people of all ages, we are able to unite them to support both synthetic
          biology and remediation of waters from toxic mercury. When brainstorming our project we looked through
          countless of iGEM wikis. As we were sailing through them we realized that none of those wikis was built alone.
          There is a team behind every wiki and there is a team behind ours too. With unity we built this webpage, with
          unity we did the lab work and with unity we can make a difference in this world. In addition to this there’s
          the unity of the iGEM community which has been such an inspiration for us.
          <br><br>
          <span id="bold">Well-being</span> - With our solution our team wants to increase well-being all over the
          world. We want to provide
          safe habitats for all species and a possibility to practice cultural traditions. By decreasing the mercury
          concentration in bodies of water, all species have safer living habitats and better possibilities for
          reproduction, development and life. In addition to safer living traditional livelihoods could be maintained
          such as fishing. Conversations with fishers around the question “What does fishing mean to you?” locked
          wellbeing in our list of values. These touching conversations taught us that our project has a positive
          personal impact on individuals: we can secure their way of living and that is what we carry throughout this
          project with us.
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}