{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block title_class %}human-practices-title{% endblock %}

{% block page_content %}

<div class="row mt-8">
  <img src="https://static.igem.wiki/teams/4831/wiki/photos/under-construction.png" alt="Construction">
</div>

{% endblock %}
