{% extends "layout.html" %}
{% block title %}Medal Criteria{% endblock %}
{% block lead %}{% endblock %}
{% block title_class %}medals-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/medals.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="container pt-5">
  <h3 style="text-align: center;">Let's take a look into the medals and the special prizes that we aim to achieve!</h3>
  <hr style="height: 50px; background-color: transparent;">

  <div class="row">
    <div id="medals">
      <div class="flip grid-item">
        <div class="front" id="bronze">
        </div>
        <div class="back">
          <h3 style="color: var(--darkBlue);"><br>Competition deliverables #1</h3>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/attributions">Project Attributions</a></h6>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/description">Project Description</a></h6>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/contribution">Contribution</a></h6>
        </div>
      </div>

      <div class="flip grid-item">
        <div class="front" id="silver">
        </div>
        <div class="back">
          <h3 style="color: var(--darkBlue);"><br>Competition deliverables #2</h3>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/engineering">Engineering Success</a></h6>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/human-practices">Human Practices</a></h6>
        </div>
      </div>

      <div class="flip grid-item">
        <div class="front" id="gold">
        </div>
        <div class="back">
          <h3 style="color: var(--darkBlue);"><br>Excellence in Synthetic Biology</h3>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/education">Education</a></h6>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/plant">Plant Synthetic biology</a></h6>
          <h6><br><a href="https://2023.igem.wiki/aboa-turku/composite">New composite</a></h6>
        </div>
      </div>

      <div class="flip grid-item" id="item_4">
        <div class="front" id="awards">
        </div>
        <div class="back">
          <h3 style="color: var(--darkBlue);"><br>Special awards</h3>
          <h6><br>Best Bioremediation Project</a></h6>
          <h6><br>Best Project Promotion Video Prize</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}