{% extends 'layout.html' %}

{% block title %} Overview {% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}overview-title{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <h1>MercuLess - a cyanobacteria-based bioremediation tool for purifying mercury-contaminated waters </h1>
    <br>
    <img src="https://static.igem.wiki/teams/4831/wiki/photos/overview/overview-img-1.png" style="width: 100%";>
    <br>
    <p>Mercury is a toxic heavy metal that threatens the health of ecosystems and individual organisms. Mercury occurs
      naturally in the environment, but the actions of humankind release mercury from harmless minerals to hazardous
      forms of mercury (United States Environmental Protection Agency, 2022). Methylmercury is one of the most toxic
      forms of mercury since it accumulates in the food chain and absorbs easily into the body where it disrupts the
      function of proteins. Additionally, in fishes and mammals, methylmercury distracts the development of the foetus
      and young individuals and can cause disturbances in the function of the nervous system and fertility, among other
      things. Industry, mining and burning fossil fuels or other mercury containing material causes release of mercury
      into the atmosphere after which mercury precipitates down with rain (United States Environmental Protection
      Agency, 2022). This way, mercury ends up in the natural waters, especially marshlands, and their organisms. In the
      ecosystems, mercury is converted to methylmercury by bacteria. Methylmercury bioaccumulates to many species of
      fish, especially carnivorous fish like pike, and therefore we need to have preferred maximum amounts of use of
      them as food to avoid health hazards (Finnish institute for health and welfare, 2023).
    </p>
    <br>
    <p>
      Our project, MercuLess, is about utilising cyanobacteria to bioremediate mercury-contaminated waters (figure 1).
      Using the tools of synthetic biology, our team will enhance the ability of cyanobacteria Synechocystis sp. PCC6803
      to transform methylmercury into elemental mercury which is then gathered up. In the lab, our team modifies
      cyanobacteria to express merA and merB genes that code for proteins called mercuric reductase respectively
      organomercury lyase. Together, these proteins can detoxify methylmercury by first cleaving the bond between the
      mercury atom and the carbon atom in a methylmercury molecule and then reducing the released mercury ion into
      elemental mercury. To create the gene construct containing merA and merB we use a method called One-pot Golden
      Gate, where multiple DNA-fragments can be assembled together in a single reaction and the construct can be
      optimised. The produced functional plasmids are then transformed into Synechocystis whose function and mercury
      modifying ability we will study more in the lab.
    </p>
    <br>
    <img src="https://static.igem.wiki/teams/4831/wiki/photos/overview/overview-img-2.png" style="width: 100%;">
    <br>
    <p>
      To implement our bioremediation system, our idea is to build an on-site photobioreactor in which the modified
      cyanobacteria purify natural waters contaminated with toxic mercury compounds. The bioreactor is made out of
      plexiglass and includes air inputs to provide Synechocystis sunlight and carbon dioxide. Since cyanobacteria are
      autotrophic they can utilise light as their energy source and carbon dioxide as their carbon source making them a
      sustainable and scalable solution. The external energy needed for our system is provided by solar panels, ideally
      team Edinburgh's cyanobacteria powered solar panels, making our system 100 % cyanobacteria powered. To secure the
      biosafety of our photobioreactor, the reactor contains filters to ensure that no modified cyanobacteria are
      released to the environment and the purified water is clean and safe for us and the environment.</p>
  </div>
</div>

{% endblock %}