{% extends "layout.html" %}

{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block title_class %}safety-title{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-2">
    <ul class="stickybar">
      <li><a href="#personal safety">Personal safety</a></li>
      <br>
      <li><a href="#biosafety">Biosafety</a></li>
      <br>
      <li><a href="#hazardous chemicals">Hazardous chemicals</a></li>
      <br>
      <li><a href="#references">References</a></li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-9 col-lg-10" style="text-align: justify;">
    <br>
    <h3>Safety is of utmost importance in a laboratory work setting. Our main safety priorities include ensuring
      personal safety, biosafety, and proper management of hazardous chemicals. We follow closely all rules and
      regulations regarding the use of genetically engineered organisms in Finland and other guidelines set by the
      University of Turku.
    </h3>
    <br>
    <h1 style="text-align: center;" id="personal safety">Personal safety</h1>
    <br>
    <p>We follow all general laboratory practices and precautions. We use appropriate personal protective gear,
      which
      includes nitrile gloves, lab coats, and safety goggles depending on the task. Eating, drinking, or applying
      cosmetics is not allowed in the lab space. Long hair should be tied in a ponytail or a bun and we wash our
      hands
      regularly. Our laboratory has a waste management system that we must use. All bacterial waste and everything
      that has been in contact with bacteria or antibiotics (growth medium, pipette tips, etc.) will be disposed of
      following PharmaCity laboratory guidelines and national GMO legislation.
    </p>
    <br>
    <p>
      The orientation and safety training given by the Senior Laboratory Technician Anniina Lepistö at Molecular
      Plant
      Biology before the beginning of the laboratory work, and the information acquired during our studies,
      minimizes
      the occurrence of lab injuries and common accidents. We consulted the laboratory supervisor Ph.D Mika Keränen
      about waste handling and proper safety measures working with methylmercury and mercury(II)chloride. Our lab
      space has been equipped with the essential first-aid kit, fire extinguisher, eyewash station and emergency
      shower.
    </p>
    <br>
    <img src="https://static.igem.wiki/teams/4831/wiki/photos/safety/safety.png" width="100%">
    <br>
    <h1 style="text-align: center;" id="biosafety">Biosafety</h1>
    <br>
    <p>
      All institutions in Finland that are doing GMO work have to have a GMO permit. This includes comprehensive
      safety and emergency plans. For the cloning of our genetic constructs, we are using only non-pathogenic E.
      coli
      and cyanobacterial strains normally used in laboratory settings. The inactivation of all biological material
      is
      ensured by autoclaving all S1 waste and consequent safe disposal. All hazardous chemicals and organisms used
      in
      the project are disposed of properly.
    </p>
    <br>
    <p>
      There may be biosafety concerns associated with the release of genetically modified organisms (GMOs) into the
      environment. The overexpression of the merA gene, which encodes for a mercury reductase enzyme, may enhance
      the
      ability of the organism to resist the toxic effects of mercury. The introduction of the heterologous merB
      gene,
      which encodes for a mercury-detoxifying enzyme, may alter the metabolic pathways of the organism. However,
      these
      changes are not expected to cause any significant hazards.
    </p>
    <br>
    <p>
      To minimize the risks of environmental impact on the surrounding ecosystem. We are not planning to release our
      modified Synechocystis into the environment but envisioned a pump system that will cycle the contaminated
      water
      through a bioreactor, in which the engineered Synechocystis cells convert mercury into a less toxic form, that
      is then collected from the medium. The culture itself is a closed system and uses either natural sunlight or
      artificial LED lights as energy.
    </p>
    <br>
    <p>
      Before conducting any activities outside of laboratory containment, institutional approval processes, such as
      biosafety committee review and permits, would need to be followed, along with compliance with national
      regulations regarding the handling, transport, and release of GMOs and hazardous substances. More testing
      would
      have to be done on mercury removal efficiency and genetic stability of the modified strains. There also should
      be a toxicity evaluation and an environmental impact assessment to establish correct monitoring protocols.
    </p>
    <br>
    <h1 style="text-align: center;" id="hazardous chemicals">Hazardous chemicals</h1>
    <br>
    <p>
      If hazardous chemicals are not handled properly using the correct safety guidelines there is a risk of one
      being
      exposed to these harmful substances. We have printed safety data sheets for all the harmful chemicals we are
      using to be readily available on a short notice.
    </p>
    <br>
    <h3 style="text-align: center;">Methylmercury and mercuric chloride</h3>
    <br>
    <p>
      Both methylmercury and mercury chloride are highly toxic substances. They can cause severe health effects if
      not
      handled properly, including neurological damage and organ dysfunction. There is a risk of contamination if
      proper aseptic techniques are not followed during handling and culturing of the organisms. Some individuals
      may
      have allergies or sensitivities to certain organisms.
    </p>
    <br>
    <p>
      We consulted the iGEM committee and the laboratory supervisor Ph. D Mika Keränen to inquire about the specific
      safety measures we need to take regarding the use of methylmercury and mercury(II)chloride. We submitted a
      check-in form and in addition to the normal safety measures related to the use of mercury, we have a
      commercial
      mercury spill kit in case of accidents during the handling of these chemicals.
    </p>
    <br>
    <h3 style="text-align: center;">Other hazardous chemicals</h3>
    <br>
    <p>This section is still under work and will be added later. Be free to check back later!</p>
    <br>
    <h1 style="text-align: center;" id="references">References and sources</h1>
    <br>
    <p>This section is still under work and will be added later. Be free to check back later!</p>
    <br>
  </div>
</div>

{% endblock %}