{% extends 'layout.html' %}

{% block title %} SDG {% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}SDG-title{% endblock %}

{% block page_content %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/SDG.css') }}" rel="stylesheet">
{% endblock %}

<header>
    <hr style="height: 20px; background-color: transparent;">
    <div style="background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg.png');
    background-repeat: repeat-x; background-size: contain; height: 200px;"></div>
    <hr style="height: 50px; background-color: transparent;">
    <h1 style="text-align: center; height: 100px;">Sustainable development goals of MercuLess</h1>
    <hr style="height: 50px; background-color: transparent;">
</header>

<div class="page_content" style="text-align: justify;">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-6.png" class="SDG-6">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <p>
                MercuLess is all about clean and safe water. Clean fresh water will become a scarce resource due to
                climate change and growing global population. Our goal is to provide access to more fresh water sources
                by purifying them from toxic mercury.
            </p>
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
            <p>
                All life requires water. By purifying natural sources of water, we provide clean habitats for all
                species. Because methyl mercury accumulates in organisms, it disturbes ecosystems and decreases
                biodiversity. By providing clean water, MercuLess provides possibilities for all species to flourish.
            </p>
        </div>
        <div class="col-6 col-md-3 col-lg-3 oder-1 order-md-2" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-14.png" class="SDG-14">
        </div>
        <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-15.png" class="SDG-15">
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-13.png" class="SDG-13">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <p>
                The very heart of MercuLess is marshlands. By restoring ditched marshlands safely and not releasing
                methylmercury via flowing water, we create buffers against climate change. Marshlands are especially
                valuable natural sites for this purpose because they bind a third of all carbon although they cover only
                3% of dry land area.
            </p>
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9 order-2 order-md-1">
            <p>
                Our team put effort into spreading the word of synthetic biology. Our motto is that learning is a
                lifelong journey and we taught people of all ages about the possibilities of synthetic biology. By
                popularizing and adding knowledge about the basics of synthetic biology and how we can use it to solve
                local and global issues, we create more room for creating new solutions with the means of it.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 order-1 order-md-2">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-4.png" class="SDG-4">
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-7.png" class="SDG-7">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <p>
                Our host organism, the Synechocystis, is photoautotrophic, which means that it requires only light and
                carbon dioxide to function. Photoautotrophic organisms can be used in any sector of industry for
                affordable and clean sources of chemical energy.
            </p>
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
            <p>
                Our aim with MercuLess is to free people to other duties instead of searching for clean and safe water
                for themselves and their family. When the source of water is secured for all, people have better
                possibilities to work and contribute to the economy despite their background.
            </p>
        </div>
        <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-8.png" class="SDG-8">
        </div>
        <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-10.png" class="SDG-10">
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
    <div class="row">
        <div class="col-6 col-md-3 col-lg-3" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-9.png" class="SDG-9">
        </div>
        <div class="col-6 col-md-3 col-lg-3" style="padding: 0px;">
            <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-11.png" class="SDG-11">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p>
                With MercuLess we create possibilities for circular bioeconomy within communities. With MercuLess,
                industries, agriculture and restoration of nature can be joined to benefit all. Also with the knowledge
                gained from working with photoautotrophic organisms our team gives better means for any new innovations.
            </p>
        </div>
    </div>
    <hr style="height: 50px; background-color: transparent;">
</div>

{% endblock %}