{% extends 'layout.html' %}

{% block title %} Sustainable development goals of MercuLess {% endblock %}
{% block lead%} {%endblock %}
{% block title_class %}sustainable-title{% endblock %}

{% block additional_css %}
<link href="{{ url_for('static', filename = 'styles/SDG.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="page_content" style="text-align: justify;">

    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto" id="intro">
            <p>
                With MercuLess our team aims to create a better world for all living creatures. We want to support
                equality, biodiversity and stable economies by providing us all with clean water, nutrition and
                habitats. Here is the impact MercuLess will have on the world and the United Nations’ Sustainable
                Development Goals.
            </p>
        </div>

        <hr id="gap50">

        <div class="col-12 col-md-10 col-lg-8 mx-auto" id="table-of-contents">
            <div class="accordion" id="Sustainable">
                <div class="accordion-item" id="table of contents">
                    <h2 class="accordion-header" id="headingContents">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseContents" aria-expanded="false" aria-controls="collapseContents">
                            Table of contents
                        </button>
                    </h2>
                    <div id="collapseContents" class="accordion-collapse collapse" aria-labelledby="headingContents"
                        data-bs-parent="#Sustainable">
                        <div class="accordion-body">
                            <div class="row no_mar_or_pad" id="content-links">
                                <div class="col-12 col-md-6" style="border-left: 1px solid black;">
                                    <li><a href="#intro" onclick="toggleAccordion()">Intro</a></li>
                                    <li><a href="#sdgs" onclick="toggleAccordion()">Impact of MercuLess</a></li>
                                    <li><a href="#viewpoints" onclick="toggleAccordion()">
                                            Environmental, social and economical viewpoints – all bound together
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="progress"></div>
            </div>
        </div>

        <hr id="gap50">

        <div class="col-12 col-md-10 col-lg-8 mx-auto" id="sdgs">
            <h1 class="center_text section-title">Impact of MercuLess</h1>
            <div class="row">
                <div class="col-12 col-md-3 col-lg-3">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-6.png" class="SDG-6">
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <p>
                        MercuLess is all about clean and safe water. Clean fresh water will become a scarce resource due
                        to
                        climate change and growing global population. Our goal is to provide access to more fresh water
                        sources
                        by purifying them from toxic mercury.
                    </p>
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
                    <p>
                        All life requires water. By purifying natural sources of water, we provide clean habitats for
                        all
                        species. Because methyl mercury accumulates in organisms, it disturbes ecosystems and decreases
                        biodiversity. By providing clean water, MercuLess provides possibilities for all species to
                        flourish.
                    </p>
                </div>
                <div class="col-6 col-md-3 col-lg-3 oder-1 order-md-2" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-14.png" class="SDG-14">
                </div>
                <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-15.png" class="SDG-15">
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-13.png" class="SDG-13">
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <p>
                        The very heart of MercuLess is marshlands. By restoring ditched marshlands safely and not
                        releasing
                        methylmercury via flowing water, we create buffers against climate change. Marshlands are
                        especially
                        valuable natural sites for this purpose because they bind a third of all carbon although they
                        cover only
                        3% of dry land area.
                    </p>
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 order-2 order-md-1">
                    <p>
                        Our team put effort into spreading the word of synthetic biology. Our motto is that learning is
                        a
                        lifelong journey and we taught people of all ages about the possibilities of synthetic biology.
                        By
                        popularizing and adding knowledge about the basics of synthetic biology and how we can use it to
                        solve
                        local and global issues, we create more room for creating new solutions with the means of it.
                    </p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 order-1 order-md-2">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-4.png" class="SDG-4">
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-7.png" class="SDG-7">
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <p>
                        Our host organism, the Synechocystis, is photoautotrophic, which means that it requires only
                        light and
                        carbon dioxide to function. Photoautotrophic organisms can be used in any sector of industry for
                        affordable and clean sources of chemical energy.
                    </p>
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
                    <p>
                        Our aim with MercuLess is to free people to other duties instead of searching for clean and safe
                        water
                        for themselves and their family. When the source of water is secured for all, people have better
                        possibilities to work and contribute to the economy despite their background.
                    </p>
                </div>
                <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-8.png" class="SDG-8">
                </div>
                <div class="col-6 col-md-3 col-lg-3 order-1 order-md-2" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-10.png" class="SDG-10">
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-6 col-md-3 col-lg-3" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-9.png" class="SDG-9">
                </div>
                <div class="col-6 col-md-3 col-lg-3" style="padding: 0px;">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-11.png" class="SDG-11">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>
                        With MercuLess we create possibilities for circular bioeconomy within communities. With
                        MercuLess,
                        industries, agriculture and restoration of nature can be joined to benefit all. Also with the
                        knowledge
                        gained from working with photoautotrophic organisms our team gives better means for any new
                        innovations.
                    </p>
                </div>
            </div>

            <hr id="gap50">

            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <p>
                        Throughout this project our team has done partnership with many other iGEM teams. In iGEM and in
                        the synthetic biology community we aim to make the world a more sustainable place for all. By
                        doing partnership with the other teams we build the community that drives these goals forward
                        with a united force.
                    </p>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <img src="https://static.igem.wiki/teams/4831/wiki/photos/sdg/sdg-17.png" class="SDG-6">
                </div>
            </div>
        </div>

        <hr id="gap50">

        <div class="col-12 col-md-10 col-lg-8 mx-auto" id="viewpoints">
            <h1 class="center_text section-title">Environmental, social and economical viewpoints – all bound together
            </h1>
            <hr id="gap20">
            <p>
                Since all three of the areas of sustainable development – the environmental, the social and the
                economical – are bound together, by having an impact on the environment we would also have an impact on
                the society and the economy. By ensuring ecological balances with MercuLess we create more stable
                circumstances for sustainable food production and reduce the risk of inequality and crises. Also, when
                people have a stable and secure source of water and nutrition they are able to contribute to the
                economy. As the economy thrives, more resources can be put into creating better solutions for the
                environment.
                <br><br>
                However, these three criteria of sustainable development are also dependent on each other and hence if
                we don’t have a positive impact in all of them, our idea will not thrive. Therefore, we want to have an
                impact on both our local and the global economy by offering an inexpensive way to restore nature. This
                allows people whose livelihoods are dependent on these resources such as fishers and berry pickers to
                continue their traditional profession safely without the fear of mercury.
            </p>
        </div>

        <hr id="gap50">

        <div class="col-12 col-md-10 col-lg-8 mx-auto center_text">
            <div id="sdg_grid">
                <div class="flip">
                    <div class="front" style="background-color: var(--green);">
                        <h3 style="color: white;"><br><br><br>Enviromental Protection and Echancement</h3>
                    </div>
                    <div class="back" style="background-color: var(--green);">
                        <p style="color: white;"><br><br>
                            Nature conservation
                            <br>
                            Safe habitat, nutrition and reproduction for all species
                            <br>
                            Growth of biodiversity
                            <br>
                            Renewable energy
                            <br>
                            Carbon sink
                        </p>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </div>
                </div>
                <div class="flip">
                    <div class="front" style="background-color: var(--darkBlue);">
                        <h3 style="color: white;"><br><br><br><br>Social Progress</h3>
                    </div>
                    <div class="back" style="background-color: var(--darkBlue);">
                        <p style="color: white;"><br><br>
                            Safe and clean water
                            <br>
                            Safe development of children
                            <br>
                            Traditional livelihoods
                            <br>
                            Cultural recognition
                        </p>
                    </div>
                </div>
                <div class="flip last_flip">
                    <div class="front" style="background-color: var(--yellow);">
                        <h3 style="color: var(--darkBlue);"><br><br><br>Economic Development</h3>
                    </div>
                    <div class="back" style="background-color: var(--yellow);">
                        <p style="color: var(--darkBlue);"><br><br>
                            New technology
                            <br>
                            Agriculture
                            <br>
                            Contributors to the economy
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <hr id="gap50">

    </div>
</div>

{% endblock %}