{% extends "layout.html" %}
{% block title %}Team members{% endblock %}

{% block page_content %}

<div class="team_settings">
    <br>
    <h3>Let's introduce our amazing team members who have made this project possible.<br><br></h2>

    <h1 style="text-align: center;"><br>Student team leaders<br></h1>

    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/sara-makkonen-biotechnology.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>SARA<br>MAKKONEN</h3>
                        <h6>BCs student in Biotechnology</h6>
                        <p><b>Team leader</b>
                            <br>
                            Subteams: Fundraising, Human Practices, IT
                        </p>
                        <p>Favourite snack: traditional Finnish sausage, aito nakki</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/mariel-turkia-biotechnology.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>MARIEL<br>TURKIA</h3>
                        <h6>BCs student in Biotechnology</h6>
                        <p><b>Team leader</b>
                            <br>
                            Subteams: Media, Human Practices, IT
                        </p>
                        <p>Favourite dinosaur: Ankylosaurus</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/minttu-lepisto-biochemistry.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>MINTTU<br>LEPISTÖ</h3>
                        <h6>BCs student in Biochemistry</h6>
                        <p><b>Team leader</b>
                            <br>
                            Subteams: Wet Lab, Human Practices
                        </p>
                        <p>Favourite season: fall</p>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <h1 style="text-align: center;"><br>Student team members<br></h1>

    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/satu-pursimo-biochemistry.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>SATU<br>PURSIMO</h3>
                        <h6>BCs student in Biochemistry</h6>
                        <p><b>Head of Wet Lab</b>
                            <br>
                            Other subteams: Dry Lab, IT
                        </p>
                        <p>Favourite food: sushi</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/joakim-gustafsson-biomedicine.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>JOAKIM<br>GUSTAFSSON</h3>
                        <h6>BCs student in Biomedicine</h6>
                        <p><b>Head of Dry Lab</b>
                            <br>
                            Other subteams: Wet Lab, Human Practices
                        </p>
                        <p>Favourite song: "every michael jackson grunt" or "IceJJfish - on the floor" from youtube</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/jesse-tapiovaara-animation.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>JESSE<br>TAPIOVAARA</h3>
                        <h6>Animation</h6>
                        <p><b>Head of Visuals</b>
                            <br>
                        </p>
                        <p>Favourite plant: gynostemma pentaphyllum</p>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/h-p-ontto-panula-social-sciences.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>H-P<br>Ontto-Panula</h3>
                        <h6>Student in Social Sciences</h6>
                        <p><b>Head of Fundraising</b>
                            <br>
                            Other subteams: visuals
                        </p>
                        <p>Favourite book: Last Samurai by Helen DeWitt</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/tiia-barck-biochemistry.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>TIIA<br>BARCK</h3>
                        <h6>BCs student in Biochemistry</h6>
                        <p><b>Head of Human Practices</b>
                            <br>
                            Other subteams: Fundraising, Wet Lab
                        </p>
                        <p>Favourite snack: anything with watermelon taste</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/elsa-lehtila-information-and-communication-technology.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>ELSA<br>LEHTILÄ</h3>
                        <h6>BCs student in Information and Communication Technology</h6>
                        <p><b>Head of IT</b></p>
                        <p>Favorite dinosaur: Brachiosaurus</p>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/shahnawaz-ami-biosciences.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>AMI<br>SHAHNAWAZ</h3>
                        <h6>MSc student in Biosciences</h6>
                        <p>Subteams: Wet Lab, Human Practices, Fundraising</p>
                        <p>Favourite book: Frankenstein</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/aleksi-branders-biomedicine.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>ALEKSI<br>BRANDERS</h3>
                        <h6>BSc student in Biomedicine</h6>
                        <p>Subteams: Wet Lab, Dry Lab, Visuals</p>
                        <p>Favourite household appliance: coffee maker</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/sanni-inkila-biomedicine.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>SANNI<br>INKILÄ</h3>
                        <h6>BCs student in Biomedicine</h6>
                        <p>Subteams: Media, Human Practices, Visuals, Wet Lab</p>
                        <p></p>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/sonja-kangasniemi-environmental-and-marine-biology.jpeg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>SONJA<br>KANGASNIEMI</h3>
                        <h6>BSc student in Enviromental and Marine Biology</h6>
                        <p>Subteams: Dry Lab, Wetr Lab, IT, Fundraising</p>
                        <p></p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/ville-koponen-biomedicine.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>VILLE<br>KOPONEN</h3>
                        <h6>BCs student in Biomedicine</h6>
                        <p>Subteams: Fundraising, Dry Lab</p>
                        <p>Favourite bubblegum flavor: salty liquorice</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/saana-lahdenpera-biotechnology.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>SAANA<br>LAHDENPERÄ</h3>
                        <h6>BCs student in Biotechnology</h6>
                        <p>Subteams: Fundraising, Human Practices, Wet Lab</p>
                        <p>Favourite song: "Life is a highway"</p>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/tomi-termonen-drug-discovery-and-development.jpg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>TOMI<br>TERMONEN</h3>
                        <h6>BSc student in Drug Discovery and Development</h6>
                        <p>Subteams: Wet Lab, Dry Lab</p>
                        <p>Favourite plant: Eucalyptus deglupta</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm">
            <center>
                <div class="flip">
                    <div class="front"
                        style="background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/ida-tulisalmi-cell-and-molecular-bioscience.jpeg');border-radius: 50%;">
                    </div>
                    <div class="back">
                        <h3>IDA<br>TULISALMI</h3>
                        <h6>BCs student in Cell and Molecular Bioscience</h6>
                        <p>Subteams: Wet Lab, Dry Lab, IT</p>
                        <p>Favourite type of animal videos: piggy videos</p>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div>
        <center>
            <h3><br>Primary PI: Assistant Professor Pauli Kallio<br><br><br></h3>
        </center>
    </div>
</div>
{% endblock %}