<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://static.igem.wiki/teams/4831/wiki/logos/aboa-logo-no-text.png" />
  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename = 'styles/style.css') }}" rel="stylesheet">
  {% block additional_css %}{% endblock %}

  <title>{% block title %}{% endblock %} | ABOA-Turku - iGEM 2023</title>

</head>

<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->
  {% if self.title() != "Home" %}
  <header style="margin-top: 80px;">
    <div class="title {{ self.title_class() }}"></div>
    <h1 class="title-name">{{ self.title() }}</h1>
  </header>
  {% endif %}

  {% if self.title() == "Home" %}
  <div style="margin-top: 80px;"></div>
  {% endif %}

  <!-- Page Content -->
  {% block page_content %}{% endblock %}

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

  <script src="{{ url_for('static', filename = 'javaScript/notebook.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/exercise03.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/exercise02.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/imageGallery.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/fade_in.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/contentbar.js') }}"></script>
  <script src="{{ url_for('static', filename = 'javaScript/page-menu.js') }}"></script>

</body>

</html>