#exercise03, #exercise04 {
    background-color: var(--yellow);
    min-height: 500px;
}

#drag-drop {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
}

#DNA-match {
    border-left: 10px solid var(--turquoise);
    border-right: 10px solid var(--green);
}

#RNA-match {
    border-left: 10px solid var(--violet);
    border-right: 10px solid var(--green);
}

#DNA-match, #RNA-match th{
    text-align: center;
}

#DNA-match, #RNA-match{
    width: 50px;
}

#DNA_letters, #RNA_letters {
    text-align: center;
    width: 50px;
}

#letter_A, #letter_C, #letter_G, #letter_T, #letter_U {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

#letter p {
    font-size: medium;
    padding: 0;
    margin: 0;
}

#DNA_1, #DNA_2, #DNA_3, #DNA_4, #DNA_5, #DNA_6,
#RNA_1, #RNA_2, #RNA_3, #RNA_4, #RNA_5, #RNA_6{
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    transition: background-color 0.3s ease;
    background-color: white;
}

#checkDNAButton, #checkRNAButton {
    height: 50px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--violet);
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}