.social-info-box,
.news-box {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--turquoise);
    border: 2px solid black;
    border-radius: 30px;
    min-width: 250px;
    max-width: 800px;
    text-align: center;
}

.social-info-box h3,
.news-box  h3{
    color: var(--darkBlue);
    font-size: xx-large;
}

.news-box  a {
    color: var(--darkBlue);
}

.socials-box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    padding: 10px;
}

@media (max-width: 767px) {
    .socials-box {
        grid-template-columns: repeat(2, auto);
    }
}

.socials-box a {
    text-decoration: none;
}

.social {
    width: 50px;
    margin: 20px;
}

.other-social-links {
    text-align: center;
    font-size: large;
}

.other-social-links a {
    font-size: x-large;
}
