h4 {
    color: var(--green);
    font-size: large;
}


#Contribution-rounded .accordion {
    border-radius: 30px;
    background-color: transparent;
}

#Contribution-rounded .accordion-item {
    background-color: transparent;
    border-radius: 30px;
}

#Contribution-rounded .accordion-item:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Contribution-rounded .accordion-item:last-of-type {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#Contribution-rounded .accordion-header {
    border-radius: 30px;
    background-color: transparent;
}

#Contribution-rounded .accordion-button {
    color: var(--darkBlue);
    font-size: x-large;
    background-color: transparent;
    border-radius: 30px;
}

#Contribution-rounded .accordion-button:not(.collapsed) {
    background-color: var(--yellow);
    color: var(--darkBlue);
}

#Contribution-rounded .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Contribution-rounded .accordion-item .accordion-button:not(.collapsed) {
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
}

#Contribution-rounded .accordion-item:last-of-type .accordion-button:is(.collapsed) {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#Contribution-rounded #Contribution h4 {
    color: var(--green);
}