/*****************************************
                  Human Practices
   *****************************************/

:root {
  --background: #00374e;
  --green: #009372;
  --turquoise: #91e9d0;
  --darkBlue: #00374e;
  --yellow: #f1d490;
  --violet: #a672ab;
  --text: white;
  --text-inverted: black;
  --font: sans-serif;
}

/* Timeline Container */
.timeline {
  background: transparent;
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid var(--darkBlue);
}

/* Card container */
.card {
  position: relative;
  padding: 10px;
  color: black;
  max-width: 800px;
  border: none;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.timeline-title {
  position: relative;
}

/* Timeline dot  */
.timeline-title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--green);
}

.date {
  color: var(--darkBlue);
  font-size: larger;
}

.who {
  color: var(--green);
  font-size: larger;
}

span {
  font-size: large;
  color: black;
}

.subtitle {
  font-size: large;
  color: black;
  font-weight: 500;
}

.accordion-body p {
  column-count: 1;
  text-align: justify;
}

.accordion-body .subtitle {
  font-weight: bold;
}

@media (min-width: 768px) {
  .accordion-body p {
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
  }
}