/*****************************************
                  Human Practices
   *****************************************/

.page-menu {
  background-color: var(--darkBlue);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.page-menu-item {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  margin: 1%;
  transition: all .25s ease-in-out;
  width: 30%;
}

.page-menu-item:not(.active) .page-menu-icon {
  color: rgba(255, 255, 255, 0.6);
}

.page-menu-item.active {
  background-color: var(--turquoise);
  transition: all .25s ease-in-out;
}

.page-menu-icon {
  border-radius: 5px;
  color: var(--darkBlue);
  font-weight: 500;
  margin: auto;
  padding: 3%;
  text-align: center;
  width: fit-content;
}

.page-menu-content {
  display: none;
}

/* Timeline Container */
.timeline {
  background: transparent;
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid var(--darkBlue);
}

/* Card container */
.card {
  position: relative;
  padding: 10px;
  color: black;
  max-width: 800px;
  border: none;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.timeline-title {
  position: relative;
}

/* Timeline dot  */
.timeline-title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--green);
}

.date {
  color: var(--darkBlue);
  font-size: larger;
}

.who {
  color: var(--green);
  font-size: larger;
}

span {
  font-size: large;
  color: black;
}

.subtitle {
  font-size: large;
  color: black;
  font-weight: 500;
}

.accordion-body p {
  column-count: 1;
  text-align: justify;
}

.accordion-body .subtitle {
  font-weight: bold;
}

@media (min-width: 768px) {
  .accordion-body p {
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
  }

  .page-menu {
    position: sticky;
    top: 110px;
    z-index: 10;
  }
}

@media (max-width: 767px) {
  .page-menu {
    flex-direction: column;
    align-items: center;
  }

  .page-menu-item {
    width: 90%;
    margin: 2%;
  }
}