.SDG-4,
.SDG-6,
.SDG-7,
.SDG-8,
.SDG-9,
.SDG-10,
.SDG-11,
.SDG-13,
.SDG-14,
.SDG-15 {
    width: 100%;
}

@media (max-width: 767px) {
    .SDG-4,
    .SDG-6,
    .SDG-7,
    .SDG-8,
    .SDG-9,
    .SDG-10,
    .SDG-11,
    .SDG-13,
    .SDG-14,
    .SDG-15 {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}