/*****************************************
            Fonts and colors
 *****************************************/

/* Colors */

/*
COLOR CODES:
Green - #009372  (0, 147, 114)
Turquoise - #91e9d0 (145, 233, 208)
Dark Blue - #00374e (0, 55, 78)
Violet - #a672ab  (166, 114, 171)
Yellow - #f1d490  (241, 212, 144)
*/

:root {
  --background: #00374e;
  --green: #009372;
  --turquoise: #91e9d0;
  --darkBlue: #00374e;
  --yellow: #f1d490;
  --violet: #a672ab;
  --text: white;
  --text-inverted: black;

  /* Fonts */
  --font: sans-serif;
}

@font-face {
  font-family: 'hammersmith_oneregular';
  src: url('https://static.igem.wiki/teams/4207/wiki/fonts/hammersmithone-regular-webfont.woff2') format('woff2'),
    url('https://static.igem.wiki/teams/4207/wiki/fonts/hammersmithone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Headings */

p {
  color: var(--text-inverted);
  font-size: medium;
}

h1 {
  color: var(--darkBlue);
  font-family: 'hammersmith_oneregular';
  text-transform: uppercase;
  font-size: x-large;
}

h2 {
  color: var(--turquoise);
  font-family: 'hammersmith_oneregular';
}

h3 {
  color: var(--violet);
  font-size: x-large;
}

h4 {
  color: white;
}

b {
  color: var(--violet)
}

a {
  color: var(--darkBlue);
  text-decoration: underline;
}

a:visited {
  color: var(--violet);
  text-decoration: underline;
}

a:hover {
  color: var(--darkBlue);
  text-decoration: underline;
}

a:active {
  color: var(--violet);
  text-decoration: underline;
}

/*****************************************
              Page settings
   *****************************************/

body,
html {
  scroll-padding-top: 120px;
  height: 100%;
}


.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: var(--darkBlue) !important;
}

.bg-hero {
  background-color: var(--green);
  height: 600px;
  background-size: cover;
}

hr {
  height: 1px;
  background-color: var(--yellow);
  border: none;
}

#gap20 {
  height: 20px;
  background-color: transparent;
}

#gap50 {
  height: 50px;
  background-color: transparent;
}

#gap100 {
  height: 100px;
  background-color: transparent;
}

.row {
  padding: 10px;
  margin: 10px;
}

.no_mar_or_pad {
  margin: 0px;
  padding: 0px;
}

.center_text {
  text-align: center;
}

.section-title,
.subtitle {
  margin-bottom: 20px;
  margin-top: 50px;
}

.image-w-caption {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#definition {
  cursor: help;
  color: var(--green);
  font-weight: bold;
}

#cursive {
  font-style: italic;
}

#non-cursive {
  font-style: normal;
}

#bold {
  font-weight: bold;
}

/*****************************************
                  Stickybar
   *****************************************/

.stickybar {
  position: sticky;
  margin: 0px;
  padding: 10px;
  top: 110px;
}

li {
  list-style: none;
}

.stickybar a {
  color: var(--darkBlue);
  text-decoration: none;
  font-family: 'hammersmith_oneregular';
  font-size: medium;
}

.stickybar a:hover {
  text-decoration: underline;
}

.stickybar a:active {
  text-decoration: underline;
}

.page-menu {
  background-color: var(--darkBlue);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.page-menu-item {
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  margin: 1%;
  transition: all .25s ease-in-out;
  width: 30%;
}

.page-menu-item:not(.active) .page-menu-icon {
  color: rgba(255, 255, 255, 0.6);
}

.page-menu-item.active {
  background-color: var(--turquoise);
  transition: all .25s ease-in-out;
}

.page-menu-icon {
  border-radius: 5px;
  color: var(--darkBlue);
  font-weight: 500;
  margin: auto;
  padding: 3%;
  text-align: center;
  width: fit-content;
}

.page-menu-content {
  display: none;
}

@media (max-width: 767px) {
  .page-menu {
    flex-direction: column;
    align-items: center;
  }

  .page-menu-item {
    width: 90%;
    margin: 2%;
  }
}

/*****************************************
                  Table of contents
   *****************************************/

#table-of-contents {
  position: sticky;
  top: 80px;
  z-index: 1;
  width: 100%;
}

#table-of-contents a {
  color: var(--darkBlue);
}

#content-links {
  max-height: 300px;
  overflow-y: auto;
}

#content-links li {
  padding: 5px;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: var(--turquoise);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: var(--green);
  width: 0%;
}

/*****************************************
                  CALLOUT
   *****************************************/

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout+.bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/*****************************************
                  Banners
   *****************************************/

.banner-overlay-container {
  height: 20%;
  width: auto;
  position: absolute;
  bottom: 10%;
  right: clamp(50px, 10%, 200px);
  left: 0;
  top: auto;
}

.banner-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.banner-logo {
  left: auto;
  height: 100%;
  width: auto;
  flex: 0 0 auto;
  margin-left: -80px;
  align-self: center;
}

@media only screen and (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .banner-overlay-container {
    right: 0;
  }

  .banner-h1 {
    width: 100% !important;
    text-align: center !important;
    padding-left: 0 !important;
  }

  details {
    width: 200% !important;
  }

  .detail-wrapper::after {
    background-color: transparent !important;
  }
}

.banner-overlay-box {
  background-color: hsla(172, 85%, 68%, 0.8);
  width: 50%;
  align-self: center;
  flex: 1;
  height: 80%;
  display: flex;
  padding-right: 3em;
}

.page-banner {
  position: relative;
  background-size: cover !important;
  background-position-y: center;
  background-repeat: no-repeat;
}

.banner-h1 {
  align-self: center;
  justify-self: center;
  padding-left: 3rem;
}

/* Header images for every page */
.title {
  background-repeat: repeat-x;
  background-position-x: -50px;
  background-size: contain;
  min-height: 200px;
}

.title-name {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.team-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/team-photos/team-photo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

@media (max-width: 800px) {
  .team-title {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .team-title {
    height: 200px;
  }
}

.attributions-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/attribution.png');
}

.description-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/characters/ukkelit.png');
}

.design-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/design.png');
}

.engineering-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/overview.png');
}

.contribution-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/contribution.png');
}

.implementation-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/implementation.png');
}

.safety-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/safety-2.png');
}

.experiments-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/experiments.png');
}

.notebook-title,

.results-title,
.parts-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/notebook.png');
}

.human-practices-title,
.collaborations-title,
.communication-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/overview.png');
}

.education-title,
.plant-title,
.medals-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/overview.png');
}

.sustainable-title {
  background-image: url('https://static.igem.wiki/teams/4831/wiki/photos/header-photos/sdg.png')
}



/*****************************************
                Navigation
   *****************************************/

.navbar {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}


.dropdown-menu {
  background-color: var(--turquoise);
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-radius: 0;
  border-color: white;
  border-width: 1px;
}

.dropdown-item:hover {
  background-color: var(--violet);
  color: var(--darkBlue);
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }

}

/* Navigation bar */
.nav-link {
  color: var(--text) !important;
}


.hidden {
  display: none;
}



/*****************************************
                  Footer
   *****************************************/
footer a {
  color: var(--text);
  text-decoration: none;
}

footer a:visited {
  color: var(--text);
  text-decoration: none;
}

footer a:hover {
  color: var(--text);
  text-decoration: underline !important;
}

footer a:active {
  color: var(--text);
  text-decoration: underline;
}

.underline {
  font-weight: bold;
  text-decoration: underline !important;
}

.some-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.some-logos svg {
  width: 50px;
  height: 50px;
  color: var(--text);
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.sponsor {
  flex: 1;
  min-width: 100px;
  max-width: 30%;
  display: flex;
  align-items: center;
}

.sponsor-container {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}


/*****************************************
                  Container
   *****************************************/

@media (min-width: 1400px) {
  .container {
    max-width: 90%;
  }
}